/* Mixins */
/* Fonts */
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
/* Progress bars */
.progress-bar[aria-valuenow] {
  line-height: 18px !important;
  min-width: 30px;
  color: #ffffff;
}
.progress-bar[aria-valuenow="0"] {
  background-color: transparent !important;
  color: #555555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Code elements */
pre {
  border: 1px solid #cccccc;
  padding: 10px;
}
input.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* Task submission form*/
form#task {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
form#task .form-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
form#task label {
  display: block;
}
/* Task alert message (feedbacks...) */
#task_alert {
  position: relative;
}
#task_alert #ssh_remote_info pre {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  background-color: #f5f5f5;
}
#task_alert #ssh_remote_info pre:before {
  content: "$ ";
}
#task_alert #ssh_remote_info code {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  background-color: #f5f5f5;
  padding: 2px 4px;
}
#task_alert .kill-submission-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
}
#task_alert .loading-alert {
  padding-right: 50px;
}
#task_alert #iframessh {
  width: 100%;
  height: 600px;
}
#task_alert .card-body p:last-child,
.task_alert_problem .card-body p:last-child {
  margin-bottom: 0;
}
#task_alert .card-body .close,
.task_alert_problem .card-body .close {
  position: relative;
  top: -0.5em;
}
#task_alert .card-left-icon,
.task_alert_problem .card-left-icon {
  padding: 0.5em 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}
/* Submission history */
#submissions_restrictsize {
  overflow: auto;
  max-height: 223px;
  margin-bottom: 50px;
}
.submission {
  cursor: pointer;
}
/* Codemirror */
.cm-s-default {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Source Code Pro', monospace !important;
  background: #fdfdfd;
  color: #181818;
}
.cm-s-default.CodeMirror pre {
  font-family: 'Source Code Pro', monospace !important;
}
.cm-s-default .CodeMirror-gutters {
  background-color: transparent;
  padding-right: 10px;
  z-index: 3;
  border: none;
}
.cm-s-default .CodeMirror-activeline-background {
  background: #f0fcff;
}
.cm-s-default .cm-tab {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
  background-position: right;
  background-repeat: no-repeat;
}
/* Main navbar */
.navbar-brand {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 25px;
  line-height: 45px;
  padding: 0;
}
.navbar-brand img {
  height: 45px;
  vertical-align: bottom;
  display: inline;
}
.navbar-text {
  margin: 0;
  padding: 0;
  line-height: 45px;
}
.navbar {
  padding: 0;
}
/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 45px;
  /* Margin bottom by footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  /* Set the fixed height of the footer here */
  line-height: 45px;
  /* Vertically center the text there */
}
/*Task debug modal*/
#task_debug dd {
  border-left: 1px solid #cccccc;
  padding-left: 20px;
  min-height: 20px;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: auto;
}
#task_debug dd dl {
  margin-bottom: 0;
}
/* Studio files tab close button*/
.nav-tabs > li.studio_file_editor_tab a .closetab {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
/* Nav menu breadcrumb */
.breadcrumb {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-transform: none;
}
.breadcrumb .breadcrumb-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  color: rgba(255, 255, 255, 0.7);
}
.breadcrumb .breadcrumb-item:before {
  font: normal normal normal 24px/1 FontAwesome;
  content: "\f105";
  margin-top: -4px;
  color: #888;
  position: absolute;
}
.breadcrumb .breadcrumb-item span {
  padding-left: 1rem;
}
.breadcrumb .breadcrumb-item a {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 1rem;
}
.breadcrumb .breadcrumb-item a:hover {
  text-decoration: none;
  color: white;
}
.breadcrumb .active {
  max-width: 100%;
}
/* Checked list group download/replay page */
ul.checked-list-box {
  max-height: 315px;
  overflow-y: scroll;
  margin: 0;
}
ul.checked-list-box .state-icon {
  left: -5px;
}
ul.checked-list-box .list-group-item-primary {
  color: #ffffff;
  background-color: #428bca;
}
ul.checked-list-box input[type="checkbox"] {
  display: none;
}
/* Sorted tables dragging style*/
.dragging {
  cursor: move !important;
}
.dragged {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 2000;
}
/* Sorted tables placeholders */
.placeholder {
  display: block;
  background: black;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}
.placeholder:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: black;
  margin-top: -5px;
  left: -5px;
  border-right: none;
}
/* CodeMirror style */
#edit_task_form .CodeMirror,
#edit_course_form .CodeMirror {
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#edit_task_form .CodeMirror.CodeMirror-focused,
#edit_course_form .CodeMirror.CodeMirror-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.dragin {
  background-color: lightblue;
  filter: blur(4px);
}
