/* Mixins */
/* Fonts */
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
/* Progress bars */
.progress-bar[aria-valuenow] {
  line-height: 18px !important;
  min-width: 30px;
  color: #ffffff;
}
.progress-bar[aria-valuenow="0"] {
  background-color: transparent !important;
  color: #555555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Code elements */
pre {
  border: 1px solid #cccccc;
  padding: 10px;
}
input.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* Task submission form*/
form#task {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
form#task .form-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
form#task label {
  display: block;
}
/* Task alert message (feedbacks...) */
#task_alert {
  position: relative;
}
#task_alert #ssh_remote_info pre {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  background-color: #f5f5f5;
}
#task_alert #ssh_remote_info pre:before {
  content: "$ ";
}
#task_alert #ssh_remote_info code {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  background-color: #f5f5f5;
  padding: 2px 4px;
}
#task_alert .kill-submission-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
}
#task_alert .loading-alert {
  padding-right: 50px;
}
#task_alert #iframessh {
  width: 100%;
  height: 600px;
}
#task_alert .card-body p:last-child,
.task_alert_problem .card-body p:last-child {
  margin-bottom: 0;
}
#task_alert .card-body .close,
.task_alert_problem .card-body .close {
  position: relative;
  top: -0.5em;
}
#task_alert .card-left-icon,
.task_alert_problem .card-left-icon {
  padding: 0.5em 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}
/* Submission history */
#submissions_restrictsize {
  overflow: auto;
  max-height: 223px;
  margin-bottom: 50px;
}
.submission {
  cursor: pointer;
}
/* Codemirror */
.cm-s-default {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Source Code Pro', monospace !important;
  background: #fdfdfd;
  color: #181818;
}
.cm-s-default.CodeMirror pre {
  font-family: 'Source Code Pro', monospace !important;
}
.cm-s-default .CodeMirror-gutters {
  background-color: transparent;
  padding-right: 10px;
  z-index: 3;
  border: none;
}
.cm-s-default .CodeMirror-activeline-background {
  background: #f0fcff;
}
.cm-s-default .cm-tab {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
  background-position: right;
  background-repeat: no-repeat;
}
#lti-sidebar {
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#lti-sidebar #lti-sidebar-btn button {
  width: 25px;
  position: absolute;
  top: 0;
  right: -25px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #ccc;
  font-size: 25px;
}
#lti-sidebar #lti-sidebar-btn button.sidebar-open {
  display: block;
}
#lti-sidebar #lti-sidebar-btn button.sidebar-close {
  display: none;
}
#lti-sidebar #lti-sidebar-inner {
  width: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#lti-sidebar #lti-sidebar-inner #lti-sidebar-content {
  width: 300px;
  padding: 0px 15px;
  margin: 0;
  position: relative;
}
html {
  height: 100%;
}
body.sidebar-active {
  position: relative;
  min-height: 100%;
}
body.sidebar-active #lti-sidebar {
  width: 300px;
}
body.sidebar-active #lti-sidebar #lti-sidebar-inner {
  width: 300px;
}
body.sidebar-active #lti-sidebar #lti-sidebar-btn button.sidebar-open {
  display: none;
}
body.sidebar-active #lti-sidebar #lti-sidebar-btn button.sidebar-close {
  display: block;
}
body.sidebar-active #content {
  left: 300px;
  -webkit-filter: blur(10px) grayscale(0.8);
  -moz-filter: blur(10px) grayscale(0.8);
  -o-filter: blur(10px) grayscale(0.8);
  -ms-filter: blur(10px) grayscale(0.8);
  filter: blur(10px) grayscale(0.8);
}
#main_container {
  overflow: hidden;
  position: relative;
}
#content {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0;
  padding-left: 30px;
  position: relative;
  top: 0;
  left: 0;
}
#powered {
  text-align: right;
  font-size: 12px;
  margin: 10px;
}
#powered a {
  color: #43ac6a;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}
