@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
html {
  height: 100%;
}
/* Mixins */
/* Fonts */
/* Progress bars */
.progress-bar[aria-valuenow] {
  line-height: 18px !important;
  min-width: 30px;
  color: #ffffff;
}
.progress-bar[aria-valuenow="0"] {
  background-color: transparent !important;
  color: #555555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Code elements */
pre {
  border: 1px solid #cccccc;
  padding: 10px;
}
input.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
/* Task submission form*/
form#task {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
form#task .form-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
form#task label {
  display: block;
}
/* Task alert message (feedbacks...) */
#task_alert {
  position: relative;
}
#task_alert #ssh_remote_info pre {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  background-color: #f5f5f5;
}
#task_alert #ssh_remote_info pre:before {
  content: "$ ";
}
#task_alert #ssh_remote_info code {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
  background-color: #f5f5f5;
  padding: 2px 4px;
}
#task_alert .kill-submission-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
}
#task_alert .loading-alert {
  padding-right: 50px;
}
#task_alert #iframessh {
  width: 100%;
  height: 600px;
}
#task_alert .card-body p:last-child,
.task_alert_problem .card-body p:last-child {
  margin-bottom: 0;
}
#task_alert .card-body .close,
.task_alert_problem .card-body .close {
  position: relative;
  top: -0.5em;
}
#task_alert .card-left-icon,
.task_alert_problem .card-left-icon {
  padding: 0.5em 0.5em;
  font-size: 1.5em;
  font-weight: bold;
}
/* Submission history */
#submissions_restrictsize {
  overflow: auto;
  max-height: 223px;
  margin-bottom: 50px;
}
.submission {
  cursor: pointer;
}
/* Codemirror */
.cm-s-default {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Source Code Pro', monospace !important;
  background: #fdfdfd;
  color: #181818;
}
.cm-s-default.CodeMirror pre {
  font-family: 'Source Code Pro', monospace !important;
}
.cm-s-default .CodeMirror-gutters {
  background-color: transparent;
  padding-right: 10px;
  z-index: 3;
  border: none;
}
.cm-s-default .CodeMirror-activeline-background {
  background: #f0fcff;
}
.cm-s-default .cm-tab {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
  background-position: right;
  background-repeat: no-repeat;
}
body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
#main-container {
  min-height: 100%;
  flex-grow: 100;
  margin: 0;
  padding: 0;
}
#main-container > .col {
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}
#main-container > .col > .list-group:first-child,
#main-container > .col > #inginious-sidebar-content > .list-group:first-child {
  margin-top: -15px;
}
#main-container > .col > .table:first-child,
#main-container > .col > #inginious-sidebar-content > .table:first-child {
  margin-left: 15px;
}
#inginious-top {
  padding: 0;
  margin: 0;
}
#inginious-sidebar-top {
  display: flex;
  background: #333;
  border-right: 1px solid #333;
}
#inginious-sidebar-top,
#inginious-sidebar {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  box-sizing: content-box;
  padding: 0;
  transition: width 300ms ease-in-out, max-width 300ms ease-in-out, min-width 300ms ease-in-out, padding 300ms ease-in-out, margin 300ms ease-in-out;
}
#inginious-sidebar {
  overflow: hidden;
  border-right: 1px solid #D9D9D9;
  background: #efefef;
}
#inginious-sidebar #inginious-sidebar-content {
  width: 250px;
  max-width: 250px;
  box-sizing: content-box;
}
#inginious-sidebar #inginious-sidebar-content table tr td:first-child {
  padding-left: 15px;
}
#inginious-sidebar #inginious-sidebar-content .alert {
  border-right: none;
  border-left: none;
}
#inginious-sidebar #inginious-sidebar-content .list-group-collapse .list-group-item {
  padding-left: 2.5rem;
  border-left: 2px solid #333;
}
#inginious-sidebar #inginious-sidebar-content .list-group-collapse .list-group-item.list-group-item-action {
  background-color: #f0f0f0;
}
#inginious-sidebar #inginious-sidebar-content .list-group-collapse .list-group-item.list-group-item-action:hover {
  background-color: #e0e0e0;
}
#inginious-sidebar h1,
#inginious-sidebar h2,
#inginious-sidebar h3,
#inginious-sidebar h4,
#inginious-sidebar h5,
#inginious-sidebar h6 {
  padding-left: 15px;
}
#inginious-sidebar .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
#inginious-sidebar-toggle {
  width: 50px;
  font-size: 30px;
  background: #333;
  border: none;
  color: white;
  flex-grow: 0;
  padding: 0;
  display: block;
  min-width: 50px;
  max-width: 50px;
  cursor: pointer;
}
#inginious-sidebar-toggle i {
  transition: transform 300ms ease-in-out;
}
@media (max-width: 599.98px) {
  body.sidebar-state-0 #inginious-sidebar-toggle i {
    transform: rotate(0deg);
  }
  body.sidebar-state-0 #inginious-sidebar {
    display: none;
  }
  body.sidebar-state-0 #main-content,
  body.sidebar-state-0 #inginious-topbar {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: block;
  }
  #inginious-sidebar-top,
  #inginious-sidebar,
  #inginious-topbar,
  #inginious-sidebar-content {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  #main-content,
  #inginious-topbar {
    display: none;
  }
  #inginious-sidebar-toggle i {
    transform: rotate(90deg);
  }
}
@media (max-width: 991.98px) and (min-width: 600px) {
  body.sidebar-state-0 #inginious-sidebar-toggle i {
    transform: rotate(0deg);
  }
  body.sidebar-state-0 #inginious-sidebar {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 0;
    min-width: 0;
    border: 0;
  }
  body.sidebar-state-0 #inginious-logo {
    width: 50px !important;
  }
  body.sidebar-state-0 #inginious-sidebar-top {
    min-width: 100px;
    max-width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  body.sidebar-state-1 #inginious-sidebar-toggle i {
    transform: rotate(90deg);
  }
}
@media (min-width: 991.98px) {
  body.sidebar-state-0 #inginious-sidebar-toggle i {
    transform: rotate(0deg);
  }
  body.sidebar-state-0 #inginious-sidebar {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 0;
    min-width: 0;
    border: 0;
  }
  body.sidebar-state-0 #inginious-logo {
    width: 50px !important;
  }
  body.sidebar-state-0 #inginious-sidebar-top {
    min-width: 100px;
    max-width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
  }
  body.sidebar-state-1 #inginious-sidebar-toggle i {
    transform: rotate(90deg);
  }
}
#inginious-logo {
  display: block;
  background: #333;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  flex-grow: 1;
  overflow: hidden;
  height: 50px;
}
#inginious-logo img {
  height: 50px;
  vertical-align: bottom;
  display: inline;
}
#inginious-logo:hover {
  color: white;
  text-decoration: none;
}
#inginious-logo #inginious-logo-text {
  display: inline-block;
  width: 200px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 35px;
  line-height: 45px;
  padding: 0;
  margin: 0;
  color: white;
}
#footer {
  font-size: 12px;
  text-align: right;
}
#footer a {
  color: #43ac6a;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
}
