$def with (course,submissions, tasks, tasks_data, grade)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name()

$# Left column content
$def ColumnF():
    $:template_helper.call('course_menu', course=course, template_helper=template_helper)
    <h3>Current grade</h3>
    <div class="progress">
        <div class="progress-bar progress-bar-success" aria-valuenow="$int(grade)" aria-valuemin="0" aria-valuemax="100" style="width: $grade%">
            $int(grade)%
        </div>
    </div>

    <h3>Last tried exercises</h3>
    
    <div class="list-group">
        $if submissions:
            $for submission in submissions:
                <a class="list-group-item 
                    $if submission['status'] == 'done' and submission['result'] == 'success':
                        list-group-item-success
                    $elif submission['status'] == 'done' and submission['result'] == 'save':
                        list-group-item-info
                    $elif submission['status'] == 'waiting':
                        list-group-item-warning
                    $else:
                        list-group-item-danger
                    "
                    href="$get_homepath()/course/$submission['courseid']/$submission['taskid']">
                    $submission['taskname']
                </a>
        $else:
            <a class="list-group-item disabled submission-empty">No submissions</a>
    </div>
    $if user_manager.has_staff_rights_on_course(course):
        $if not course.is_open_to_non_staff():
            <div class="alert alert-warning" role="alert">
                This course is currently invisible for students. 
                You can change this by modifying the "accessibility" option in the configuration of the course.
            </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-info" href="$get_homepath()/admin/$course.get_id()">
                <i class="fa fa-user-secret fa-fw"></i>&nbsp; Course administration
            </a>
        </div>
    $else:
        <div class="list-group">
            <a class="list-group-item list-group-item-info" href="$get_homepath()/aggregation/$course.get_id()">
                <i class="fa fa-group fa-fw"></i>&nbsp;
                $ myaggregation = user_manager.get_course_user_aggregation(course)
                $if course.use_classrooms():
                    Classroom : $myaggregation["description"]
                $elif len(myaggregation['groups']) > 0 and user_manager.session_username() in myaggregation['groups'][0]['students']:
                    Team : $myaggregation['description']
                $else:
                    Teams management
            </a>
            $if course.allow_unregister():
                $:include.unregister_button(course)
        </div>
$var Column: $:ColumnF()

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li class="active"><a href="#">$course.get_name() <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

$# Start content
<h2>$course.get_name() - List of exercises</h2>
<div class="list-group list-group-progress" style="margin-left: 16px; margin-right: 16px;">
    $for taskid, task in tasks.items()
        $if tasks_data[taskid]["visible"]:
            $ succeeded=tasks_data[taskid]["succeeded"]
            $ completion=tasks_data[taskid]["grade"]
            <a href="$get_homepath()/course/$course.get_id()/$taskid" class="row list-group-item
                $if not task.is_visible_by_students() or not task.get_accessible_time().is_open():
                    disabled
                ">
                <div class="col-xs-12 col-md-7">
                    $if succeeded:
                        <i style="color:#468847; position: absolute; left: -5px;" class="fa fa-check"></i>
                    $task.get_name()
                    $if not task.is_visible_by_students():
                        - <b>(task hidden to students)</b>
                    $if not task.get_accessible_time().is_open():
                        - <b>deadline reached</b>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" aria-valuenow="$int(completion)" aria-valuemin="0" aria-valuemax="100" style="width: $completion%">
                            $(int(completion) if completion.is_integer() else completion)%
                        </div>
                    </div>
                </div>
            </a>
</div>