$def with (auth_methods, error)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: Welcome

$# Start content
    <div class="row">
        <div class="col-sm-5">
            <p>
                <h2>Hello! <small>Welcome on the INGInious platform.</small></h2>
                INGInious allows to securely grade code made by students.
            </p>
            <p>Please log in to see the courses.</p>
            $:template_helper.call('welcome_text', template_helper=template_helper)
        </div>
        <div class="col-sm-offset-2 col-sm-5 well">
            $if error:
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    Invalid login/password
                </div>

            <form role="form" method="post">
                <div class="form-group">
                    <label>Username</label> <input type="text" class="form-control" name="login" placeholder="Username">
                </div>
                <div class="form-group">
                    <label>Password <a href="/register#lostpasswd">Lost password?</a></label> <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>

            <hr/>
            $for authid, (name, link) in auth_methods.items():
                $if authid % 3 == 0:
                    <div class="row">

                <div class="col-md-4"><a href="$link">$name</a></div>

                $if authid % 3 == 2 or authid == len(auth_methods.items()) - 1:
                    </div>
        </div>
    </div>
