$def with (reset, msg, error)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: Register

$if error:
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        $:msg
    </div>
$elif msg:
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        $:msg
    </div>

$if reset is None:
    <div class="row">
        <div class="col-md-5">
            <h2>Sign up in INGInious</h2>
            <form method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label">Username (min. 4 alphanumerical characters) : </label>
                        <input name="username" type="text" class="form-control">
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Complete name : </label>
                        <input name="realname" type="text" class="form-control">
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Email address : </label>
                        <input name="email" type="text" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Password (min. 6 characters) : </label>
                        <input name="passwd" type="password" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Confirm password : </label>
                        <input name="passwd2" type="password" class="form-control">
                    </div>
                    <div class="col-sm-12"><br />
                        <button type="submit" name="register" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> Sign up</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="lostpasswd" class="col-md-5 col-md-push-2">
            <h2>Lost password ?</h2>
            <form method="post" class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12">
                        <label class="control-label">Email address : </label>
                        <input name="recovery_email" type="text" class="form-control">
                    </div>
                    <div class="col-sm-12"><br />
                        <button type="submit" name="lostpasswd" class="btn btn-warning btn-block"><i class="fa fa-undo"></i> Reset my password</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
$else:
    <h2></h2>
    <div class="row">
        <div class="col-md-push-3 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Set new password for $reset["realname"] [$reset["username"]]
                    </h4>
                </div>
                <div class="panel-body">
                    <form method="post" class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Password (min. 6 characters) : </label>
                                <input name="passwd" type="password" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Confirm password : </label>
                                <input name="passwd2" type="password" class="form-control">
                            </div>
                            <div class="col-sm-12"><br />
                                <input type="hidden" name="reset_hash" value="$reset['hash']">
                                <button type="submit" name="resetpasswd" class="btn btn-warning btn-block"><i class="fa fa-undo"></i> Set new password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
