$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: Task unavailable

$# Start content
<img src="/static/common/images/logo_maintenance.png" style="margin:auto; display:block;"/>
<div class="alert alert-warning" role="alert" style="text-align: center;">
    <b>Error 403</b> Task unavailable; you must be in a group/team to access this task.<br/>
    You can access the group/team page by clicking on the link "Teams management" or "Classroom" of the course page.
</div>
