$def with (course, task, submissions, students, eval_submission, user_task, webterm_link)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:task.get_name() - $:task.get_course().get_name()

$# Left column content
$def ColumnF():
    <h3>Information</h3>
    <table class="table table-condensed">
        $if task.get_authors():
            <tr>
                <td>Author(s)</td>
                <td>$",".join(task.get_authors())</td>
            </tr>
        <tr>
            <td>Deadline</td>
            <td>
                $task.get_deadline()
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td id="task_status">
                $if not eval_submission and len(submissions) == 0:
                    Not yet attempted
                $elif eval_submission is not None and eval_submission["status"] == "done" and eval_submission["result"] == "success":
                    Succeeded
                $else:
                    $ waiting=False
                    $for submission in submissions:
                        $if submission["status"] == "waiting":
                            $ waiting=True
                            $break
                    $if waiting:
                        Waiting for verification
                    $else:
                        Failed
            </td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>
                <span id="task_grade">$user_task.get('grade', 0)</span>%
            </td>
        </tr>
        <tr>
            <td>Grading weight</td>
            <td>$task.get_grading_weight()</td>
        </tr>
        <tr>
            <td>Attempts</td>
            <td id="task_tries">
                $(user_task.get('tried', 0))
            </td>
        </tr>
        <tr>
            <td>Submission limit</td>
            <td>
                $ submission_limit = task.get_submission_limit()
                $if submission_limit == {"amount":-1, "period":-1}:
                    No limitation
                $else:
                    $submission_limit["amount"] submissions
                    $if submission_limit["period"] > 0:
                        <br/> every $submission_limit["period"] hour(s)

            </td>
        </tr>
    </table>
    $if user_manager.has_staff_rights_on_course(course):
        <h3>Administration</h3>
        $if not course.is_open_to_non_staff():
            <div class="alert alert-warning" role="alert">
                This course is currently invisible for students.
                You can change this by modifying the "accessible" option in the configuration of the course.
            </div>
        $if not task.get_accessible_time().after_start():
            <div class="alert alert-warning" role="alert">
                This task is currently invisible for students.
                You can change this by modifying the "accessible" option in the configuration of the task.
            </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-info" href="$get_homepath()/admin/$course.get_id()/task/$task.get_id()">
                <i class="fa fa-tasks fa-fw"></i>&nbsp; View submissions
            </a>
            $if user_manager.has_admin_rights_on_course(course):
                <a class="list-group-item list-group-item-info" href="$get_homepath()/admin/$course.get_id()/edit/task/$task.get_id()">
                    <i class="fa fa-edit fa-fw"></i>&nbsp; Edit task
                </a>
                <a style="cursor:pointer;" class="list-group-item list-group-item-info" data-toggle="modal" data-target="#modal-debug">
                    <i class="fa fa-wrench fa-fw"></i>&nbsp; Debug information
                </a>
        </div>
    $else:
        <h3>Submitting as</h3>
        <div class="list-group">
            <div class="list-group-item list-group-item-info">
                $if task.is_group_task():
                    <i class="fa fa-chevron-right fa-fw"></i>&nbsp; <b>$('Group' if course.use_classrooms() else 'Team')</b>
                $else:
                    <i class="fa fa-chevron-right fa-fw"></i>&nbsp; <b>$user_manager.session_realname()</b>
            </div>
            <a class="list-group-item list-group-item-info" href="$get_homepath()/aggregation/$course.get_id()">
                <i class="fa fa-group fa-fw"></i>&nbsp;
                $ myaggregation = user_manager.get_course_user_aggregation(course)
                $if course.use_classrooms():
                    Classroom : $myaggregation["description"]
                $elif len(myaggregation['groups']) > 0 and user_manager.session_username() in myaggregation['groups'][0]['students']:
                    Team : $myaggregation['description']
                $else:
                    Teams management
            </a>
        </div>

    $:template_helper.call('task_menu', course=course, task=task, template_helper=template_helper)

    <h3>For evaluation</h3>
    <div class="list-group">
        <div class="list-group-item list-group-item-info"><i class="fa fa-info fa-fw"></i>
            $if task.get_evaluate() == "last":
                Last submission
            $elif task.get_evaluate() == "best":
                Best submission
            $else:
                Selected submission
        </div>
        $if eval_submission:
            <a id="my_submission" class="submission list-group-item list-group-item-info" data-submission-id="$eval_submission['_id']">
                <i class="fa fa-chevron-right fa-fw"></i>
                $eval_submission["submitted_on"].strftime("%d/%m/%Y %H:%M:%S") - $eval_submission.get("grade",0.0)%
            </a>
        $else:
            <div id="my_submission" class="list-group-item list-group-item-info"><i class="fa fa-chevron-right fa-fw"></i> No submission</div>
    </div>

    <h3>Submission history</h3>
    <div id="submissions_restrictsize">
	    <ul id="submissions" class="list-group">
	        $if submissions:
	            $for submission in submissions:
	                <li class="submission list-group-item
	                    $if submission['status'] == 'done' and submission['result'] == 'success':
	                        list-group-item-success
	                    $elif submission['status'] == 'waiting':
	                        list-group-item-warning
	                    $else:
	                        list-group-item-danger
	                    "
	                    data-submission-id="$submission['_id']">
                        $if task.get_accessible_time().is_open() or user_manager.has_admin_rights_on_course(course):
                            $if task.get_evaluate() == 'student' and students == submission['username']:
                                <a class="allowed" title="Select for evaluation" data-toggle="tooltip" data-placement="right"><i class="fa fa-star fa-fw"></i></a>&nbsp;
                            $elif task.get_evaluate() == 'student':
                                <a class="notallowed" title="Not the same $('group' if course.use_classrooms() else 'team')" data-toggle="tooltip" data-placement="right"><i class="fa fa-minus-circle fa-fw"></i></a>&nbsp;

                        $if "grade" in submission:
                            <span>$submission["submitted_on"].strftime("%d/%m/%Y %H:%M:%S") - $submission["grade"]%</span>
                        $else:
                            <span>$submission["submitted_on"].strftime("%d/%m/%Y %H:%M:%S")</span>
	                </li>

	        $else:
	            <li class="list-group-item disabled submission-empty">No submission</li>
	    </ul>
    </div>
$var Column: $:ColumnF()

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$task.get_course().get_id()">$task.get_course().get_name()</a></li>
        <li class="active"><a href="#">$task.get_name() <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

$# Start content
<h2>$task.get_name()</h2>
$:task.get_context()
<hr/>
<div id="task_alert"></div>
$if user_manager.has_admin_rights_on_course(course):
    <div class="modal fade" id="modal-debug">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Debug information</h4>
                </div>
                <div class="modal-body">
                    The raw data from the container will be displayed here, helping you to debug the task.<br/>
                    This box is only displayed because you are an administrator of this course. It is not displayed to students.
                    <hr/>
                    <div id="task_debug">

                    </div>
                </div>
            </div>
        </div>
    </div>

<form id="task" method="post" action="$get_homepath()/course/${task.get_course().get_id()}/${task.get_id()}" enctype="multipart/form-data"
    $for submission in submissions:
        $if submission["status"] == "waiting":
            data-wait-submission="$submission['_id']"
            $break
>
    $# Store path to webterm if given
    $if webterm_link is not None:
        <input type="hidden" value="$webterm_link" id="webterm_link"/>
    <input type="hidden" name="@action" value="submit"/>
    $for key, problem in enumerate(task.get_problems()):
        <div class="panel panel-default">
            $if len(task.get_problems()) != 1 or problem.get_name() != "":
                <div class="panel-heading">
                    <h3 class="panel-title">
                        $if len(task.get_problems()) != 1:
                            Question ${key+1}:
                        $problem.get_name()
                    </h3>
                </div>
            <div class="panel-body">
                <div id="task_alert.$problem.get_id()" class="task_alert_problem"></div>
                $:problem.get_header()
                $:problem.show_input(template_helper.get_common_renderer())
            </div>
        </div>

    $ groups_ok = user_manager.task_can_user_submit(task, user_manager.session_username(), 'groups')
    $ tokens_ok = user_manager.task_can_user_submit(task, user_manager.session_username(), 'tokens')
    $if groups_ok and tokens_ok:
        $if user_manager.has_admin_rights_on_course(course):
            <input type="hidden" name="@debug-mode" id="task-debug-mode" value=""/>
            <div class="row">
                <div class="col-xs-9 col-md-10">
                    <button type="submit" class="btn btn-default btn-lg btn-block center-block" id="task-submit">Submit</button>
                </div>
                <div class="col-xs-3 col-md-2">
                    <button type="button" class="btn btn-info btn-lg btn-block center-block" id="task-submit-debug" data-toggle="tooltip"
                            data-placement="top" title="Start remote SSH console with this input">
                        <i class="fa fa-terminal"></i>
                    </button>
                </div>
            </div>
        $else:
            <button type="submit" class="btn btn-default btn-lg btn-block center-block" id="task-submit">Submit</button>
    $elif not task.get_accessible_time().is_open():
        <button type="submit" class="btn btn-default btn-lg btn-block center-block" disabled="disabled">The deadline is over, you cannot submit anymore</button>
    $elif task.is_group_task() and not groups_ok:
        <a href="$get_homepath()/aggregation/$course.get_id()" class="btn btn-default btn-lg btn-block center-block">Please register in a $('group' if course.use_classrooms() else 'team')</a>
    $elif not tokens_ok:
        <button type="submit" class="btn btn-default btn-lg btn-block center-block" disabled="disabled">
            $('You' if not task.is_group_task() else 'Your group' if course.use_classrooms() else 'Your team')
            have reached the submission limit.
        $if task.get_submission_limit()["period"] > 0:
            <br/> It will be refilled within the next $task.get_submission_limit()["period"] hour(s)
        </button>
    $else:
        <button type="submit" class="btn btn-default btn-lg btn-block center-block" disabled="disabled">You are not allowed to submit</button>
</form>

<script type="text/javascript">
$$(document).ready(function() {
    init_task_page("$task.get_evaluate()");
});
</script>
