.*
!.pydevproject
!.project
*.py[cod]
sessions*
repo_submissions
configuration.yaml
configuration.*.yaml
!configuration.example.yaml
!configuration.lti.example.yaml
dump
doc/_*
utils/task_manual_tester/tests/
node_modules/
INGInious.egg-info/
dist/
build/
