.*
!.github
!.pydevproject
!.project
*.py[cod]
sessions*
repo_submissions
configuration.yaml
configuration.*.yaml
!configuration.example.yaml
!configuration.lti.example.yaml
dump
doc/_*
utils/task_manual_tester/tests/
**/package-lock.json
node_modules/
INGInious.egg-info/
dist/
agent_tmp
venv

# Default tasks directory
inginious/tasks
# Default backup directory
inginious/backup

# Build files
build/lib
build/scripts-*
