.*
!.pydevproject
!.project
*.py[cod]
sessions*
repo_submissions
configuration.yaml
configuration.*.yaml
!configuration.example.yaml
dump
doc/_*
tasks
!tests/tasks
!*/tests/tasks
!frontend/webapp/templates/tasks
utils/task_tester/tests/
