include LICENSE
include README.rst
recursive-include inginious/common/tests/tasks *
recursive-include inginious/frontend/*/static *
recursive-include inginious/frontend/*/templates *
recursive-include inginious/frontend/webapp/plugins/contests *
recursive-include inginious/frontend/webapp/plugins/scoreboard *
recursive-include inginious/frontend/webapp/plugins/auth/db_auth *
