$def with (course,data,msg,error)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name(user_manager.session_language())
$var Column: $:template_helper.call('course_admin_menu',course=course,current='aggregations')

$ use_classrooms = course.use_classrooms()
$ is_admin = user_manager.has_admin_rights_on_course(course)

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name(user_manager.session_language())</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title=$:_('"Administration"') data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li class="active">
            <a href="#">
                <i class="fa fa-group"></i> $(_("Classrooms") if use_classrooms else _("Teams")) <span class="sr-only"> $:_("(current)")</span>
            </a>
        </li>
    </ol>
$var Navbar: $:NavbarF()

<h2>$(_("Classrooms") if use_classrooms else _("Teams"))
    <div class="pull-right">
        <div class="btn-group">
            $if not course.use_classrooms():
                <a type="button" id="switch" class="btn-sm btn btn-primary" href="edit/aggregations"><i class="fa fa-edit"></i>  $:_("Edit teams")</a>
            <button type="submit" id="switch" class="btn-sm btn btn-danger" data-toggle="modal" data-target="#upload_modal"><i class="fa fa-upload"></i>  $:_("Upload structure")</button>
            <a href="?download" class="btn-sm btn btn-success"><i class="fa fa-download"></i>  $:_("Download structure")</a>
        </div>
    </div>
</h2>
    $if error:
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            $msg
        </div>
    $elif msg:
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            $msg
        </div>

<div class="modal fade" id="upload_modal">
    <form method="post" enctype="multipart/form-data" action="edit/aggregations">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"> $:_("Upload course structure")</h4>
                </div>
                <div class="modal-body">
                    <p> $:_("Note : Please refer to documentation for file format")</p>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label"> $:_("Course structure")</label>
                        <input name="aggregationfile" type="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button name="upload" class="btn btn-danger btn-block" type="submit"><i class="fa fa-upload"></i>  $:_("Upload (will erase current settings)")</button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>$(_("Classroom") if use_classrooms else _("Team"))</th>
            <th>$:_("# students")</th>
            <th>$:_("# task tried")</th>
            <th>$:_("# task done")</th>
            <th>
                <div class="btn-group" role="group">
                    <a href="$get_homepath()/admin/${course.get_id()}/download?format=taskid%2Faggregation" class="btn btn-danger btn-xs"
                       title=$:_('"Download all submissions"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download"></i></a>
                    <a href="$get_homepath()/admin/${course.get_id()}/aggregations?csv" class="btn btn-info btn-xs"
                       title=$:_('"Download CSV"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-table"></i></a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    $ text = [_("My classroom(s)"), _("Other classroom(s)")] if use_classrooms else [_("My team(s)"), _("Other team(s)")]
    $for ind in range(0,2):
        $if len(data[ind]) > 0:
            $if len(data[0]) > 0 and len(data[1]) > 0:
                <tr>
                    <th colspan="5">$text[ind]</th>
                </tr>
            $for aggregation in data[ind]:
                $if course.use_classrooms() or len(aggregation['groups']) > 0:
                    <tr>
                        <td>
                            <a href="$get_homepath()/admin/${course.get_id()}/aggregation/$aggregation['_id']">$aggregation["description"]</a>
                        </td>
                        <td>$(len(aggregation["students"]) if course.use_classrooms() else len(aggregation["groups"][0]["students"]))</td>
                        <td>$aggregation["tried"]</td>
                        <td>$aggregation["done"]</td>
                        <td>
                            <div class="btn-group" role="group">
                                $if course.use_classrooms():
                                    <a href="$get_homepath()/admin/${course.get_id()}/edit/aggregation/$aggregation['_id']" class="btn btn-primary btn-xs" title=$:_('"Edit classroom"') data-toggle="tooltip"
                                       data-placement="bottom"><i class="fa fa-edit"></i></a>
                                <a href="$get_homepath()/admin/${course.get_id()}/aggregation/$aggregation['_id']" class="btn btn-default btn-xs" title=$:_('"View submissions"') data-toggle="tooltip"
                                   data-placement="bottom"><i class="fa fa-search"></i></a>
                                <a href="$get_homepath()/admin/${course.get_id()}/download$aggregation['url']" class="btn btn-default btn-xs" title=$:_('"Download submissions"')
                                   data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download"></i></a>
                                $if is_admin:
                                    <a href="$get_homepath()/admin/${course.get_id()}/replay$aggregation['url']" class="btn btn-default btn-xs" title=$:_('"Replay submissions"')
                                       data-toggle="tooltip" data-placement="bottom"><i class="fa fa-refresh"></i></a>
                            </div>
                        </td>
                    </tr>
    </tbody>
</table>

$if course.use_classrooms():
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="default" class="col-sm-2 control-label">$:_("Default classroom :") </label>
            <div class="col-sm-7">
                <select name="default" class="form-control">
                    $for ind in range(0,2):
                        $for aggregation in data[ind]:
                            $ sel = 'selected' if aggregation['default'] else ''
                            <option value="$aggregation['_id']" $sel>$aggregation['description']</option>
                </select>
            </div>
            <div class="col-sm-3"><button type="submit" class="btn btn-info btn-block">$:_("Set as default")</button></div>
        </div>
    </form>
    <div class="row">
        $ placeholder = _('New classroom description')
        $ btn = _("New classroom")
        <form class=form-horizontal" method="post">
            <div class="form-group">
                <div class="col-sm-9"><input type="text" class="form-control" name="classroom" placeholder="$placeholder"/></div>
                <div class="col-sm-3"><button type="submit" class="btn btn-warning btn-block"><i class="fa fa-plus fa-lg"></i> $btn</button></div>
            </div>
        </form>
    </div>





