$def with (course, operations, available_containers)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name() - Batch operations

$var Column: $:template_helper.call('course_admin_menu',course=course,current='batch')

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li class="active"><a href="#"><i class="fa fa-rocket"></i> Batch operations <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>Batch operations</h2>

<h3>Batch jobs</h3>
<table class="table table-bordered table-condensed table-hover" id="batch_table">
    <tr>
        <th>Container name</th>
        <th>Date</th>
        <th colspan="2">Status</th>
    </tr>
    $for op in operations:
        <tr>
            <td>$op['container_name']</td>
            <td>$op['submitted_on'].strftime("%d/%m/%Y %H:%M:%S")</td>

            $if op['status'] == 'ok':
                <td class="batch-status-icon text-success" title="Results available" data-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-check"></i>
                </td>
                <td>
                    <div class="btn-group">
                        <a href="$get_homepath()/admin/$course.get_id()/batch/summary/$op['bid']" class="btn btn-success btn-xs" title="View results"
                           data-toggle="tooltip" data-placement="bottom"><i class="fa fa-search fa-fw"></i></a>
                        <a href="$get_homepath()/admin/$course.get_id()/batch/download/$op['bid']" class="btn btn-info btn-xs" title="Download results"
                           data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download fa-fw"></i></a>
                        <a href="$get_homepath()/admin/$course.get_id()/batch?drop=$op['bid']" class="btn btn-danger btn-xs" title="Delete"
                           data-toggle="tooltip" data-placement="bottom"
                           onclick="return confirm('You are sure you want to delete this batch job?');"><i class="fa fa-remove fa-fw"></i></a>
                    </div>
                </td>
            $elif op['status'] == 'ko':
                <td class="batch-status-icon text-danger" title="Job failed" data-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-remove"></i>
                </td>
                <td>
                    <div class="btn-group">
                        <a href="$get_homepath()/admin/$course.get_id()/batch/summary/$op['bid']" class="btn btn-warning btn-xs" title="View results"
                           data-toggle="tooltip" data-placement="bottom"><i class="fa fa-search fa-fw"></i></a>
                        <a href="$get_homepath()/admin/$course.get_id()/batch?drop=$op['bid']" class="btn btn-danger btn-xs" title="Delete"
                           data-toggle="tooltip" data-placement="bottom"
                           onclick="return confirm('You are sure you want to delete this batch job?');"><i class="fa fa-remove fa-fw"></i></a>
                    </div>
                </td>
            $else:
                <td class="batch-status-icon text-info" title="Job is still running" data-toggle="tooltip" data-placement="bottom">
                    <i class="fa fa-refresh fa-spin"></i>
                </td>
                <td></td>
        </tr>
</table>

$if user_manager.has_admin_rights_on_course(course):
    <h3>Start a new batch job</h3>
    <div class="list-group">
        $for key, val in available_containers.items():
            <a href="$get_homepath()/admin/$course.get_id()/batch/create/$key" class="list-group-item">
                <h4 class="list-group-item-heading">$key</h4>
                <p class="list-group-item-text">$:val["description"]</p>
            </a>
    </div>