$def with (course, container_name, container_title, container_description, container_args, errors)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name() - Start new batch job $container_title

$var Column: $:template_helper.call('course_admin_menu',course=course,current='batch')

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/batch" title="Batch operations" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-rocket"></i></a></li>
        <li class="active"><a href="#">$container_title <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>Create a new batch job: $container_title</h2>

$if errors is not None:
    $for e in errors:
        <div class="alert alert-danger" role="alert">$e</div>

<form method="post" enctype="multipart/form-data">
    <table class="table table-bordered">
        $if container_name != container_title:
            <tr>
                <th>Container title</th>
                <td>$container_title</td>
            </tr>
        $if container_description != "":
            <tr>
                <th>Container description</th>
                <td>$:container_description</td>
            </tr>
        <tr>
            <th>Container image name</th>
            <td>$container_name</td>
        </tr>
        $for key, val in container_args.items():
            <tr>
                $if val.get("description") is not None:
                    <th rowspan="2"><label for="args-$key">$val.get("name",key)</label></th>
                $else:
                    <th><label for="args-$key">$val.get("name",key)</label></th>
                <td>
                    $if val["type"] == "text":
                        <input class="form-control" type="text" id="args-$key" name="$key"/>
                    $else:
                        <input class="form-control" type="file" id="args-$key" name="$key"/>
                </td>
            </tr>
            $if val.get("description") is not None:
                <tr>
                    <td>$:val["description"]</td>
                </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-rocket"></i> Launch!</button>
            </td>
        </tr>
    </table>
</form>