$def with (course,errors,saved)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name() - Settings

$var Column: $:template_helper.call('course_admin_menu',course=course,current='settings')

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li class="active"><a href="#"><i class="fa fa-cog"></i> Course settings <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>Course settings</h2>
$if errors is not None:
    $for error in errors:
        <div class="alert alert-danger" role="alert">$error</div>
$elif saved:
    <div class="alert alert-success" role="alert">Settings saved.</div>
<form id="edit_course_form" action="$get_homepath()/admin/${course.get_id()}/settings" method="post" class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="title" value="$course.get_name()">
        </div>
    </div>
    <div class="form-group">
        <label for="admins" class="col-sm-2 control-label">Administrators</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="admins" name="admins" placeholder="Usernames of the administrators, separated by commas"
                   value="$','.join(course.get_admins())">
        </div>
    </div>
    <div class="form-group">
        <label for="tutors" class="col-sm-2 control-label">Tutors</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="tutors" name="tutors" placeholder="Usernames of the tutors, separated by commas"
                   value="$','.join(course.get_tutors())">
        </div>
    </div>
    <div class="form-group">
        <label for="lti" class="col-sm-2 control-label">Enable LTI</label>
        <div class="col-sm-10">
            <label>
                <input type="checkbox" value="true" id="lti" name="lti"
                       $if course.is_lti():
                        checked="checked"
                /> Enable this option to allow your INGInious course to be used in external Learning Management Systems (LMS) such as Moodle or edX.
                Note
                that this will deactivate the access to the course from the main page for non-staff members of the course, and the team/classroom
                system.
            </label><br/>
        </div>
    </div>
    <div class="form-group no-lti">
        <label for="groups_student_choice" class="col-sm-2 control-label">Students aggregations</label>
        <div class="col-sm-10">
            <label>
                <input type="radio" value="true" name="use_classrooms"
                    $if course.use_classrooms():
                        checked="checked"
                /> Classrooms with groups $('(Warning : changing this will unregister all students)' if course.use_classrooms() else '')
            </label><br/>
            <label>
                <input type="radio" value="false" name="use_classrooms" id="use_classrooms"
                    $if not course.use_classrooms():
                        checked="checked"
                /> Teams $('(Warning : changing this will unregister all students)' if not course.use_classrooms() else '')
            </label>
        </div>
    </div>
    <div class="form-group no-lti">
        <label for="groups_student_choice" class="col-sm-2 control-label">Group/Team attribution</label>
        <div class="col-sm-10">
            <label>
                <input type="radio" value="false" name="groups_student_choice" id="groups_student_choice"
                    $if not course.can_students_choose_group():
                        checked="checked"
                /> Staff only
            </label><br/>
            <label>
                <input type="radio" value="true" name="groups_student_choice"
                    $if course.can_students_choose_group():
                        checked="checked"
                /> Staff and students
            </label>
        </div>
    </div>
    <div class="form-group no-lti">
        <label for="accessible" class="col-sm-2 control-label">Accessibility</label>
        <div class="col-sm-10">
            $ at = course.get_accessibility(False)
            <label>
                <input type="radio" value="false" name="accessible"
                    $if at.is_never_accessible():
                        checked="checked"
                /> Course hidden from students
            </label><br/>
            <label>
                <input type="radio" value="true" name="accessible"
                    $if at.is_always_accessible():
                        checked="checked"
                /> Always accessible
            </label><br/>
            <label>
                <input type="radio" value="custom" name="accessible"
                    $if not at.is_never_accessible() and not at.is_always_accessible():
                        checked="checked"
                /> Custom:
            </label>

            <div class="row">
                <div class="col-xs-2 col-lg-2"><label class="control-label">From</label></div>
                <div class="col-xs-10 col-lg-4">
                    <div class='input-group date' id='accessible_start_picker'>
                        <input name="accessible_start" data-date-format="YYYY-MM-DD HH:mm:ss" value="${at.get_std_start_date()}" placeholder="2014-06-29 10:00" type='text' class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-xs-2 col-lg-2"><label class="control-label">To</label></div>
                <div class="col-xs-10 col-lg-4">
                    <div class='input-group date' id='accessible_end_picker'>
                        <input name="accessible_end" data-date-format="YYYY-MM-DD HH:mm:ss" value="${at.get_std_end_date()}" placeholder="2014-06-29 10:00" type='text' class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                \$(function() {
                    \$('#accessible_start_picker').datetimepicker({useSeconds: true,sideBySide: true});
                    \$('#accessible_end_picker').datetimepicker({useSeconds: true,sideBySide: true});
                });
            </script>
        </div>
    </div>
    <div class="form-group no-lti">
        <label for="accessible" class="col-sm-2 control-label">Registration</label>
        <div class="col-sm-10">
            <label>
                <input type="radio" value="false" name="registration"
                    $if course.get_registration_accessibility().is_never_accessible():
                        checked="checked"
                /> Closed
            </label><br/>
            <label>
                <input type="radio" value="true" name="registration"
                    $if course.get_registration_accessibility().is_always_accessible():
                        checked="checked"
                /> Always open
            </label><br/>
            <label>
                <input type="radio" value="custom" name="registration"
                    $if not course.get_registration_accessibility().is_never_accessible() and not course.get_registration_accessibility().is_always_accessible():
                        checked="checked"
                /> Custom:
            </label>
            $ at = course.get_registration_accessibility()
            <div class="row">
                <div class="col-xs-2 col-lg-2"><label class="control-label">From</label></div>
                <div class="col-xs-10 col-lg-4">
                    <div class='input-group date' id='registration_start_picker'>
                        <input name="registration_start" data-date-format="YYYY-MM-DD HH:mm:ss" value="${at.get_std_start_date()}" placeholder="2014-06-29 10:00" type='text' class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-xs-2 col-lg-2"><label class="control-label">To</label></div>
                <div class="col-xs-10 col-lg-4">
                    <div class='input-group date' id='registration_end_picker'>
                        <input name="registration_end" data-date-format="YYYY-MM-DD HH:mm:ss" value="${at.get_std_end_date()}" placeholder="2014-06-29 10:00" type='text' class="form-control" />
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                \$(function() {
                    \$('#registration_start_picker').datetimepicker({useSeconds: true,sideBySide: true});
                    \$('#registration_end_picker').datetimepicker({useSeconds: true,sideBySide: true});
                });
            </script>
        </div>
    </div>
    <div class="form-group no-lti">
        <label for="groups_student_choice" class="col-sm-2 control-label">Allow auto-unregistration</label>
        $ allow_unregister = course.allow_unregister(False)
        <div class="col-sm-10">
            <label>
                <input type="radio" value="true" name="allow_unregister"
                    $if allow_unregister:
                        checked="checked"
                /> Yes
            </label><br/>
            <label>
                <input type="radio" value="false" name="allow_unregister" id="allow_unregister"
                    $if not allow_unregister:
                        checked="checked"
                /> No
            </label>
        </div>
    </div>
    <div class="form-group no-lti">
        <label for="name" class="col-sm-2 control-label">Registration password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="registration_password" name="registration_password" 
            placeholder="Password needed for registration. Leave blank if you don't want to set a password." 
            value="${course.get_registration_password()}">
        </div>
    </div>
    <div class="form-group no-lti">
        <label for="registration_ac" class="col-sm-2 control-label">Access control</label>
        <div class="col-sm-10">
            <label>
                <input type="radio" value="None" name="registration_ac" id="registration_ac"
                    $if course.get_access_control_method() is None:
                        checked="checked"
                /> No access control (everyone can register)
            </label><br/>
            <label>
                <input type="radio" value="username" name="registration_ac"
                    $if course.get_access_control_method() == "username":
                        checked="checked"
                /> Check by username
            </label><br/>
            <label>
                <input type="radio" value="realname" name="registration_ac"
                    $if course.get_access_control_method() == "realname":
                        checked="checked"
                /> Check by real name
            </label><br/>
            <label>
                <input type="radio" value="email" name="registration_ac"
                    $if course.get_access_control_method() == "email":
                        checked="checked"
                /> Check by email
            </label>
        </div>
    </div>
    <div class="form-group no-lti">
        <label for="registration_ac_list" class="col-sm-2 control-label">Access control list</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="registration_ac_list" name="registration_ac_list" rows="10" placeholder="Only used if access control is activated. Separate users by new lines.">$"\n".join(course.get_access_control_list())</textarea>
        </div>
    </div>
    <div class="form-group lti">
        <label for="lti_keys" class="col-sm-2 control-label">LTI keys</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="lti_keys" name="lti_keys" rows="10"
                      placeholder="LTI keys in the form name:key, separated by newlines. Please ensure keys are long enough and random.">$#
$"\n".join([a+":"+b for (a, b) in course.lti_keys().items()])</textarea>
        </div>
    </div>
    <div class="form-group lti">
        <label for="lti_send_back_grade" class="col-sm-2 control-label">Send back grades</label>
        <div class="col-sm-10">
            <label>
                <input type="checkbox" value="true" id="lti_send_back_grade" name="lti_send_back_grade"
                       $if course.lti_send_back_grade():
                            checked="checked"
                /> Enable this to send back grades to the calling Tool Consumer (which is, most of the time, your LMS).
            </label><br/>
        </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-download"></i> Save changes</button>
    
</form>

<script type="text/javascript">
    function updateLTI() {
        if($$("#lti").is(":checked"))
        {
            $$(".no-lti").hide();
            $$(".lti").show();
        }
        else
        {
            $$(".no-lti").show();
            $$(".lti").hide();
        }
    }
    $$(function() {
        updateLTI();
        $$("#lti").click(updateLTI);
        $$("#lti").change(updateLTI);
    })
</script>
