$def with (course,username,task,data,submissionid)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$ user_realname= user_manager.get_user_realname(username)
$var title: $:task.get_name() - $:user_realname - $:course.get_name()

$var Column: $:template_helper.call('course_admin_menu',course=course,current='students')
$ is_admin = user_manager.has_admin_rights_on_course(course)

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/students" title="Students" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/student/$username">$user_realname</a></li>
        <li class="active"><a href="#">$:task.get_name() <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>Submissions for the task "$:task.get_name()" - $user_realname ($username)</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>submitted on</th>
            <th>result</th>
            <th>
                <div class="btn-group" role="group">
                    <a href="$get_homepath()/admin/${course.get_id()}/download?format=taskid%2Fusername&users=${username}&tasks=${task.get_id()}"
                       class="btn btn-danger btn-xs" title="Download all submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa
                       fa-download"></i></a>
                    $if is_admin:
                        <a href="$get_homepath()/admin/${course.get_id()}/replay?format=taskid%2Fusername&users=${username}&tasks=${task.get_id()}"
                           class="btn btn-warning btn-xs" title="Replay all submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa
                           fa-refresh"></i></a>
                    <a href="$get_homepath()/admin/${course.get_id()}/student/${username}/${task.get_id()}?csv" class="btn btn-info btn-xs" title="Download
                       CSV" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-table"></i></a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    $for submission in data:
        $ succeeded = "result" in submission and submission["result"] == "success"
    	<tr
            $if succeeded:
                class="success"
            $elif submission['status'] == 'waiting':
                class="warning"
            $else:
                class="danger"
        >
            <td>
                $if submission["_id"] == submissionid:
                    <i class="fa fa-star" title="Evaluation submission"
                       data-toggle="tooltip" data-placement="bottom"></i>
            </td>
    		<td>$submission["_id"]</td>
            <td>$submission["submitted_on"].strftime("%d/%m/%Y %H:%M:%S")</td>
            <td id="status">
                $if succeeded:
                    Succeeded
                $elif submission['status'] == 'waiting':
                    Waiting
                $else:
                    Failed
                ($submission.get("grade",0.0)%)
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a href="$get_homepath()/admin/$course.get_id()/student/$username/$task.get_id()/$submission['_id']"
                       class="btn btn-default btn-xs" title="View submission" data-toggle="tooltip" data-placement="bottom"><i class="fa
                       fa-search"></i></a>
                    <a href="$get_homepath()/admin/${course.get_id()}/download$submission['url']" class="btn btn-default btn-xs" title="Download submission" data-toggle="tooltip"
                       data-placement="bottom"><i class="fa fa-download"></i></a>
                    $if is_admin:
                        <a class="replay btn btn-default btn-xs" title="Replay submission" data-toggle="tooltip" data-submissionid="$submission['_id']"
                           data-placement="bottom"><i class="fa fa-refresh"></i></a>
                </div>
            </td>
    	</tr>
    </tbody>
</table>

$if is_admin:
    <script language="javascript">
        $$(".replay").click (function (event) {
            var row = $$(this).rparent(3);
            $$.ajax({
                type: "POST",
                url: "/admin/${course.get_id()}/replay",
                data: "submission=" + $$(this).data("submissionid"),
                success: function(data) {
                    row.find("#status").text("Waiting (0.0%)");
                    row.removeClass();
                    row.addClass("warning");
                }
            });
        });
    </script>