$def with (course,taskid,task_data,environments,problemdump,grader_test_cases_dump,contains_is_html,current_filetype,available_filetypes,AccessibleTime,file_list,available_languages)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: Edit $taskid

$def ColumnF():
    $:template_helper.call('course_admin_menu',course=course,current='tasks')
    <a href="#task_edit_submit_status" class="btn btn-primary btn-block task_edit_submit_button" type="button" onclick="studio_submit()"><i class="fa fa-save"></i> Save changes</a>
$var Column: $:ColumnF()

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/tasks" title="Tasks" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-tasks"></i></a></li>
        <li class="active"><a href="#">Edit task "$taskid" <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>
    Edit task "$taskid"
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-primary btn-success btn-sm task_edit_submit_button" type="button" onclick="studio_submit()"><i class="fa fa-save"></i> Save changes</button>
            <a id="switch" class="btn-sm btn btn-info" href="$get_homepath()/course/$course.get_id()/$taskid"><i class="fa fa-search"></i> View task</a>
        </div>
    </div>
</h2>
<div id="task_edit_submit_status"></div>
<form id="edit_task_form" method="post" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" name="@action" value="edit_task"/>

    <div role="tabpanel">
        <ul class="nav nav-tabs" id="edit_task_tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tab_basic" aria-controls="basicinfo" role="tab" data-toggle="tab"><i class="fa
                fa-cog fa-fw"></i>&nbsp; Basic settings</a></li>
            <li role="presentation"><a href="#tab_container" aria-controls="container" role="tab" data-toggle="tab"><i class="fa
                fa-cube fa-fw"></i>&nbsp; Container setup</a></li>
            <li role="presentation"><a href="#tab_subproblems" aria-controls="subproblems" role="tab" data-toggle="tab"><i class="fa
                fa-list-ul fa-fw"></i>&nbsp; Subproblems</a></li>
            <li role="presentation"><a href="#tab_grader" aria-controls="grader" role="tab" data-toggle="tab"><i class="fa
                fa-check-circle fa-fw"></i>&nbsp; Grader</a></li>
            <li role="presentation"><a href="#tab_files" aria-controls="files" role="tab" data-toggle="tab"><i class="fa
                fa-edit fa-fw"></i>&nbsp; Task files</a></li>
        </ul>
        <div id="edit_task_tabs_content" class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab_basic">
                $:include.course_admin.edit_tabs.basic(course,task_data,available_filetypes,AccessibleTime,current_filetype,contains_is_html)
            </div>

            <div role="tabpanel" class="tab-pane" id="tab_container">
                $:include.course_admin.edit_tabs.container(task_data,environments,contains_is_html)
            </div>

            <div role="tabpanel" class="tab-pane" id="tab_subproblems">
                $:include.course_admin.edit_tabs.subproblems()
            </div>

            <div role="tabpanel" class="tab-pane" id="tab_grader">
                $:include.course_admin.edit_tabs.grader(task_data)
            </div>

            <div role="tabpanel" class="tab-pane" id="tab_files">
                <ul class="nav nav-tabs" id="edit_file_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_file_list" aria-controls="basicinfo" role="tab" data-toggle="tab"><i class="fa
                            fa-cog fa-list-ul"></i>&nbsp; File list</a></li>
                </ul>
                <div id="edit_file_tabs_content" class="tab-content">
                    $:include.course_admin.edit_tabs.files(course,taskid,file_list,None)
                </div>
            </div>

        </div>
    </div>
    <a href="#task_edit_submit_status" class="btn btn-primary btn-block task_edit_submit_button" type="button" onclick="studio_submit()"><i class="fa fa-save"></i> Save changes</a>
</form>
<div id="delete_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete task</h4>
                </div>
                <div class="modal-body">
                    <p>This will <b>permanently</b> remove the task and its files from INGInious.</p>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="wipe"> Wipe all submissions
                        </label>
                      </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" name="delete" class="btn btn-danger">Delete task</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Must be out of the form -->
$:include.course_admin.edit_tabs.subproblem_templates(contains_is_html, available_languages)
$:include.course_admin.edit_tabs.file_modals()
$:include.course_admin.edit_tabs.grader_templates()

<!-- Init the javascript for the subproblem tab -->
<script type="text/javascript">
    problem_data = $:{problemdump};
    $$ (function(){ studio_load(problem_data); });

    grader_test_cases = $:{grader_test_cases_dump};

    $$ (function() {
      studio_update_grader_problems();

      $$ ("#grader_problem_id").val("${task_data.get('grader_problem_id', '')}");
      studio_load_grader_test_cases(grader_test_cases);

      $$('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        if (e.target.hash === '#tab_grader') {
          studio_update_grader_problems();
          studio_update_grader_files();
        }
      });
    });
</script>
