$def with (course,task,individual_data,aggregation_data)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:task.get_name() - $:course.get_name()

$var Column: $:template_helper.call('course_admin_menu',course=course,current='tasks')

$ use_classrooms = course.use_classrooms()
$ is_admin = user_manager.has_admin_rights_on_course(course)

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name()</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title="Administration" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/tasks" title="Tasks" data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-tasks"></i></a></li>
        <li class="active"><a href="#">$task.get_name() <span class="sr-only">(current)</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>Results for task "$task.get_name()"</h2>
                    $if not course.is_lti():
                        <div role="tabpanel">
                            <ul class="nav nav-tabs" id="edit_task_tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#tab_indiv" aria-controls="basicinfo" role="tab" data-toggle="tab"><i class="fa
                                    fa-user fa-fw"></i>&nbsp; Individual results</a></li>
                                            <li role="presentation"><a href="#tab_aggregation" aria-controls="container" role="tab" data-toggle="tab"><i class="fa
                                    fa-users fa-fw"></i>&nbsp; $("Classroom" if use_classrooms else "Team") results</a></li>
                            </ul>
                            <div id="edit_task_tabs_content" class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab_indiv">


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Status</th>
                                <th># submissions</th>
                                <th>
                                    <div class="btn-group" role="group">
                                        <a href="$get_homepath()/admin/${course.get_id()}/download?format=taskid%2Fusername&tasks=$task.get_id()" class="btn btn-danger
                                            btn-xs" title="Download all submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download"></i></a>
                                        $if is_admin:
                                            <a href="$get_homepath()/admin/${course.get_id()}/replay?format=taskid%2Fusername&tasks=$task.get_id()" class="btn btn-warning
                                                btn-xs" title="Replay all submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-refresh"></i></a>
                                        <a href="$get_homepath()/admin/${course.get_id()}/task/${task.get_id()}?csv=students" class="btn btn-info btn-xs" title="Download CSV"
                                           data-toggle="tooltip" data-placement="bottom"><i class="fa fa-table"></i></a>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        $for user in individual_data:
                            <tr
                                $if user["status"] == "notattempted":
                                    class="warning"
                                $elif user["status"] == "succeeded":
                                    class="success"
                                $elif user["status"] == "failed":
                                    class="danger"
                            >
                                <td>
                                    $if user["realname"] != "":
                                        <a href="$get_homepath()/admin/${course.get_id()}/student/$user['username']">$user["realname"]</a>
                                        (<a href="$get_homepath()/admin/${course.get_id()}/student/$user['username']">$user["username"]</a> - <a href='mailto:$user["email"]'>email</a>)
                                    $else:
                                        <a href="$get_homepath()/admin/${course.get_id()}/student/$user['username']">$user["username"]</a>
                                </td>
                                <td>
                                    $if user["status"] == "notviewed":
                                        Not viewed
                                    $elif user["status"] == "notattempted":
                                        Not attempted (viewed)
                                    $elif user["status"] == "succeeded":
                                        Succeeded ($user["grade"]%)
                                    $else:
                                        Failed ($user["grade"]%)
                                </td>
                                <td>$user["tried"] </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a href="$get_homepath()/admin/${course.get_id()}/student/$user['username']/$task.get_id()" class="btn btn-default btn-xs" title="View
                                           submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-search"></i></a>
                                        <a href="$get_homepath()/admin/${course.get_id()}/download$user['url']" class="btn btn-default btn-xs" title="Download
                                           submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download"></i></a>
                                        $if is_admin:
                                            <a href="$get_homepath()/admin/${course.get_id()}/replay$user['url']" class="btn btn-default btn-xs" title="Replay
                                               submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-refresh"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

        $if not course.is_lti():
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab_aggregation">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>$("Classroom" if use_classrooms else "Team")</th>
                                    <th>Status</th>
                                    <th># submissions</th>
                                    <th>
                                        <div class="btn-group" role="group">
                                            <a href="$get_homepath()/admin/${course.get_id()}/download?format=taskid%2Faggregation&tasks=$task.get_id()" class="btn btn-danger
                                                btn-xs" title="Download all submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download"></i></a>
                                            $if is_admin:
                                                <a href="$get_homepath()/admin/${course.get_id()}/replay?format=taskid%2Faggregation&tasks=$task.get_id()" class="btn btn-warning
                                                    btn-xs" title="Replay all submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-refresh"></i></a>
                                            <a href="$get_homepath()/admin/${course.get_id()}/task/${task.get_id()}?csv=aggregations" class="btn btn-info btn-xs" title="Download CSV"
                                               data-toggle="tooltip" data-placement="bottom"><i class="fa fa-table"></i></a>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            $ text = ["My classroom(s)","Other classroom(s)"] if use_classrooms else ["My team(s)","Other team(s)"]
                            $for ind in range(0,2):
                                $if len(aggregation_data[ind]) > 0:
                                    $if len(aggregation_data[0]) > 0 and len(aggregation_data[1]) > 0:
                                        <tr>
                                            <th colspan="5">$text[ind]</th>
                                        </tr>
                                $for aggregation in aggregation_data[ind]:
                                    $if course.use_classrooms() or len(aggregation['groups']) > 0:
                                        <tr
                                            $if aggregation["status"] == "notattempted":
                                                class="warning"
                                            $elif aggregation["status"] == "succeeded":
                                                class="success"
                                            $elif aggregation["status"] == "failed":
                                                class="danger"
                                        >
                                            <td>
                                                <a href="$get_homepath()/admin/${course.get_id()}/aggregation/$aggregation['_id']">$aggregation['description']</a>
                                            </td>
                                            <td>
                                                $if aggregation["status"] == "notviewed":
                                                    Not viewed
                                                $elif aggregation["status"] == "notattempted":
                                                    Not attempted (viewed)
                                                $elif aggregation["status"] == "succeeded":
                                                    Succeeded ($aggregation["grade"]%)
                                                $else:
                                                    Failed ($aggregation["grade"]%)
                                            </td>
                                            <td>$aggregation["tried"] </td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <a href="$get_homepath()/admin/${course.get_id()}/aggregation/$aggregation['_id']/$task.get_id()" class="btn btn-default btn-xs" title="View
                                                       submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-search"></i></a>
                                                    <a href="$get_homepath()/admin/${course.get_id()}/download$aggregation['url']" class="btn btn-default btn-xs" title="Download
                                                       submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download"></i></a>
                                                    $if is_admin:
                                                        <a href="$get_homepath()/admin/${course.get_id()}/replay$aggregation['url']" class="btn btn-default btn-xs" title="Replay
                                                           submissions" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-refresh"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
