$def with (course, thistaskid, tasks, user_data, valid_formats)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name() - Download submissions
$# Left column content
$def ColumnF():
    <h3>Administration</h3>
    <div class="list-group">
        <a class="list-group-item list-group-item-info" href="$get_homepath()/$user_manager.get_session_identifier()/task">
            <i class="fa fa-arrow-left fa-fw"></i>&nbsp;Go back to task
        </a>
    </div>
$var Column: $:ColumnF()


<h2>Download submissions</h2>

<div id="downloadmsg"></div>

<form id="download" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            Tasks to download submissions from
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select(true, this)">Select all</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select(false, this)">Deselect all</button>
            </div>
        </div>
        <ul class="list-group checked-list-box">
            $for taskid, task in tasks:
                <li class="list-group-item" data-value="$taskid" data-name="tasks" data-checked="$('true' if taskid==thistaskid else 'false')">$task.get_name()</li>
        </ul>
    </div>

    <div class="panel panel-default" id="panel-download-user-aggregation">
        <div class="panel-heading">
            Students to download submissions from
            <div class="btn-group download-tabs-user-aggregation">
                <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select(true, this)">Select all</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select(false, this)">Deselect all</button>
            </div>
        </div>
        $if len(user_data) == 0:
            <div class="alert alert-warning">No user to display</div>
        $else:
            <ul class="list-group checked-list-box">
                $for userid, username in user_data.items():
                <li class="list-group-item" data-value="$userid" data-name="users" data-checked="true">$username</li>
            </ul>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Other options
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="folder_format" class="col-sm-2 control-label">Folder format</label>
                <div class="col-sm-10">
                    <ul class="list-unstyled">
                        $ checked=False
                        $for entry in valid_formats:
                            <li><label><input type="radio" name="format" value="$entry" $('checked="checked"' if not checked else '')/> $entry</label></li>
                            $ checked=True
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="folder_format" class="col-sm-2 control-label">Type</label>

                <div class="col-sm-10">
                    <ul class="list-unstyled">
                        <li>
                            <label>
                                <input type="radio" name="type" value="single" checked="checked"/>
                                Download only the evaluation submission for each task/user
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" name="type" value="all"/>
                                Download all the submissions
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-default btn-lg btn-block center-block">
        <i class="fa fa-download fa-fw"></i>&nbsp; Download
    </button>
</form>

<script type="text/javascript">
$$(document).ready(function() {
    init_download_page();
});
</script>