$def with (course,task,submissions,is_admin,webterm_link)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:task.get_name() - $:task.get_course().get_name()

$# Left column content
$def ColumnF():
    <h3>Informations</h3>
    <table class="table table-condensed">
        $if task.get_authors():
            <tr>
                <td>Author(s)</td>
                <td>$",".join(task.get_authors())</td>
            </tr>
        <tr>
            <td>Status</td>
            <td id="task_status">
                $if len(submissions) == 0:
                    Not yet attempted
                $else:
                    $ succeeded=False
                    $ waiting=False   
                    $for submission in submissions:
                        $if submission["status"] == "done" and submission["result"] == "success":
                            $ succeeded=True
                            $break
                        $elif submission["status"] == "waiting":
                            $ waiting=True
                            $break
                    $if succeeded:
                        Succeeded
                    $elif waiting:
                        Waiting for verification
                    $else:
                        Wrong answer
            </td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>
                <span id="task_grade">$user_manager.get_task_grade(task)</span>%
            </td>
        </tr>
    </table>

    <h3>Submissions</h3>
    <div id="submissions_restrictsize" style="margin-bottom:0px;">
	    <ul id="submissions" class="list-group">
	        $if submissions:
	            $for submission in submissions:
	                <li class="submission list-group-item
	                    $if submission['status'] == 'done' and submission['result'] == 'success':
	                        list-group-item-success
	                    $elif submission['status'] == 'waiting':
	                        list-group-item-warning
	                    $else:
	                        list-group-item-danger
	                    "
	                    data-submission-id="$submission['_id']">
	                    $if "grade" in submission:
                            <span>$submission["submitted_on"].strftime("%d/%m/%Y %H:%M:%S") - $submission["grade"]%</span>
                        $else:
                            <span>$submission["submitted_on"].strftime("%d/%m/%Y %H:%M:%S")</span>
	                </li>
	        $else:
	            <li class="list-group-item disabled submission-empty">No submissions</li>
	    </ul>
    </div>
        <small>Please note that for performance reasons, INGInious may not keep all your submissions indefinitely.</small>
    $if is_admin:
        <h3>Administration</h3>
        <div class="list-group">
            <a style="cursor:pointer;" class="list-group-item list-group-item-info" data-toggle="modal" data-target="#modal-debug" onclick="$$('body').removeClass('sidebar-active');">
                <i class="fa fa-wrench fa-fw"></i>&nbsp;Debug information
            </a>
            <a class="list-group-item list-group-item-info" href="$get_homepath()/$user_manager.get_session_identifier()/download">
                <i class="fa fa-download fa-fw"></i>&nbsp;Download submissions
            </a>
        </div>
$var Column: $:ColumnF()

$# Start content
<h2>$task.get_name()</h2>
$:task.get_context()
<hr/>
<div id="task_alert"></div>
$if is_admin:
    <div class="modal fade" id="modal-debug">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Debug information</h4>
                </div>
                <div class="modal-body">
                    The raw data from the container will be displayed here, helping you to debug the task.<br/>
                    This box is only displayed because you are an administrator of this course. It is not displayed to students.
                    <hr/>
                    <div id="task_debug">

                    </div>
                </div>
            </div>
        </div>
    </div>
<form id="task" method="post" enctype="multipart/form-data"
    $for submission in submissions:
        $if submission["status"] == "waiting":
            data-wait-submission="$submission['_id']"
            $break
>
    $# Store path to webterm if given
    $if webterm_link is not None:
        <input type="hidden" value="$webterm_link" id="webterm_link"/>
    <input type="hidden" name="@action" value="submit"/>
    $for key, problem in enumerate(task.get_problems()):
        <div class="panel panel-default">
            $if len(task.get_problems()) != 1 or problem.get_name() != "":
                <div class="panel-heading">
                    <h3 class="panel-title">
                        $if len(task.get_problems()) != 1:
                            Question ${key+1}:
                        $problem.get_name()
                    </h3>
                </div>
            <div class="panel-body">
                <div id="task_alert.$problem.get_id()" class="task_alert_problem"></div>
                $:problem.get_header()
                $:problem.show_input(template_helper.get_common_renderer())
            </div>
        </div>
    $if is_admin:
        <input type="hidden" name="@debug-mode" id="task-debug-mode" value=""/>
            <div class="row">
                <div class="col-xs-9 col-md-10">
                    <button type="submit" class="btn btn-default btn-lg btn-block center-block" id="task-submit">Submit</button>
                </div>
                <div class="col-xs-3 col-md-2">
                    <button type="button" class="btn btn-info btn-lg btn-block center-block" id="task-submit-debug" data-toggle="tooltip"
                            data-placement="top" title="Start remote SSH console with this input">
                        <i class="fa fa-terminal"></i>
                    </button>
                </div>
            </div>
    $else:
    <button type="submit" class="btn btn-default btn-lg btn-block center-block" id="task-submit">Submit</button>
</form>

<script type="text/javascript">
$$(document).ready(function() {
    init_task_page('best');
});
</script>