$def with (tasks, checked_tasks, download_or_replay)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<div class="card mb-3 ">
    <div class="card-header">
        $if download_or_replay == "download":
            $:_("Tasks to download submissions from")
        $else:
            $:_("Tasks to replay submissions from")
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select(true, this)">$:_("Select all")</button>
            <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select(false, this)">$:_("Deselect all")</button>
        </div>
    </div>
    <ul class="list-group list-group-flush checked-list-box">
        $for taskid, task in tasks.items():
            <li class="list-group-item" data-value="$taskid" data-name="tasks"
                $if taskid in checked_tasks:
                    data-checked="true"
            >$task.get_name(user_manager.session_language())</li>
    </ul>
</div>