/* Mixins */
/* Fonts */
@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);
/*Fixes for bootstrap*/
.form-inline.form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.table td.td-collapse {
  padding: 0;
  border: none;
  background-color: #f9f9f9;
}
.table td.td-collapse > div {
  border-top: 1px solid #dddddd;
  border-left: 1px solid black;
  padding-left: 50px;
  padding-right: 0px;
}
.table td.td-collapse > div table.table {
  margin-top: 0px;
  margin-bottom: 10px;
}
.progress-bar[aria-valuenow] {
  line-height: 18px !important;
  min-width: 30px;
}
.progress-bar[aria-valuenow="0"] {
  background-color: transparent !important;
  color: #555555;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* Other */
.list-group .progress {
  margin: 0;
}
label p {
  margin: 0;
  padding: 0;
}
input.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
form#task {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
form#task .form-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
form#task #task-submit,
form#task #task-submit-debug {
  margin-top: 10px;
}
form#task label {
  display: block;
}
#task_alert {
  position: relative;
}
#task_alert .alert#ssh_remote_info {
  font-size: 14px;
}
#task_alert .alert#ssh_remote_info pre {
  font-size: 10px;
  margin-right: 50px;
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}
#task_alert .alert#ssh_remote_info pre:before {
  content: "$ ";
}
#task_alert .alert#ssh_remote_info code {
  -moz-user-select: all;
  -webkit-user-select: all;
  user-select: all;
}
#task_alert .kill-submission-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
}
#task_alert .loading-alert {
  padding-right: 50px;
}
#task_alert #iframessh {
  width: 100%;
  padding-right: 50px;
  height: 600px;
}
#submissions_restrictsize {
  overflow: auto;
  max-height: 223px;
  margin-bottom: 50px;
}
.submission {
  cursor: pointer;
}
.panel {
  position: relative;
}
.panel .panel-heading {
  overflow: visible;
}
.panel .panel-heading .btn-group,
.panel .download-tabs-user-group {
  position: absolute;
  right: 10px;
  top: 28px;
  z-index: 1000;
}
.panel .panel-body .CodeMirror.single {
  margin: 10px -15px -15px;
}
.caution .first {
  display: none;
}
.caution p.last {
  font-size: 12px;
  font-weight: 300;
  background-color: #e99002;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid #d08002;
  border-radius: 0;
}
/* Codemirror */
.cm-s-inginious {
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Source Code Pro', monospace !important;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  background: #fdfdfd;
  color: #181818;
}
.cm-s-inginious.CodeMirror pre {
  font-family: 'Source Code Pro', monospace !important;
}
.cm-s-inginious .CodeMirror-gutters {
  background-color: transparent;
  padding-right: 10px;
  z-index: 3;
  border: none;
}
.cm-s-inginious .CodeMirror-activeline-background {
  background: #f0fcff;
}
.cm-s-inginious .cm-header {
  color: blue;
}
.cm-s-inginious .cm-quote {
  color: #090;
}
.cm-s-inginious .cm-keyword {
  color: #708;
}
.cm-s-inginious .cm-atom {
  color: #219;
}
.cm-s-inginious .cm-number {
  color: #164;
}
.cm-s-inginious .cm-def {
  color: #00f;
}
.cm-s-inginious .cm-variable-2 {
  color: #05a;
}
.cm-s-inginious .cm-variable-3 {
  color: #085;
}
.cm-s-inginious .cm-comment {
  color: #a50;
}
.cm-s-inginious .cm-string {
  color: #a11;
}
.cm-s-inginious .cm-string-2 {
  color: #f50;
}
.cm-s-inginious .cm-meta {
  color: #555;
}
.cm-s-inginious .cm-qualifier {
  color: #555;
}
.cm-s-inginious .cm-builtin {
  color: #30a;
}
.cm-s-inginious .cm-bracket {
  color: #997;
}
.cm-s-inginious .cm-tag {
  color: #170;
}
.cm-s-inginious .cm-attribute {
  color: #00c;
}
.cm-s-inginious .cm-hr {
  color: #999;
}
.cm-s-inginious .cm-link {
  color: #00c;
}
.cm-s-inginious .cm-error {
  color: #f00;
}
#lti-sidebar {
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#lti-sidebar #lti-sidebar-btn button {
  width: 25px;
  position: absolute;
  top: 0;
  right: -25px;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #ccc;
  font-size: 25px;
}
#lti-sidebar #lti-sidebar-btn button.sidebar-open {
  display: block;
}
#lti-sidebar #lti-sidebar-btn button.sidebar-close {
  display: none;
}
#lti-sidebar #lti-sidebar-inner {
  width: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#lti-sidebar #lti-sidebar-inner #lti-sidebar-content {
  width: 300px;
  padding: 0px 15px;
  margin: 0;
  position: relative;
}
html {
  height: 100%;
}
body.sidebar-active {
  position: relative;
  min-height: 100%;
}
body.sidebar-active #lti-sidebar {
  width: 300px;
}
body.sidebar-active #lti-sidebar #lti-sidebar-inner {
  width: 300px;
}
body.sidebar-active #lti-sidebar #lti-sidebar-btn button.sidebar-open {
  display: none;
}
body.sidebar-active #lti-sidebar #lti-sidebar-btn button.sidebar-close {
  display: block;
}
body.sidebar-active #content {
  left: 300px;
  -webkit-filter: blur(10px) grayscale(0.8);
  -moz-filter: blur(10px) grayscale(0.8);
  -o-filter: blur(10px) grayscale(0.8);
  -ms-filter: blur(10px) grayscale(0.8);
  filter: blur(10px) grayscale(0.8);
}
#main_container {
  overflow: hidden;
  position: relative;
}
#content {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0;
  padding-left: 30px;
  position: relative;
  top: 0;
  left: 0;
}
#powered {
  text-align: right;
  font-size: 12px;
  margin: 10px;
}
#powered a {
  color: #43ac6a;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}
