#task_alert .alert-danger
{
    background-color: #f2dede;
    color: #f04124;
    border: 1px solid #dddddd;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}
