#task_alert .alert-danger
{
    background-color: #f2dede;
    color: #f04124;
    border: 1px solid #dddddd;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

.diff-seq-1 {
  background-color: #f2dede;
}

.diff-seq-2 {
  background-color: #dff0d8;
}

.diff-common {
  color: #000;
}

.diff-position-control {
  background-color: #d9edf7;
  font-style: italic;
  font-weight: bold;
}
