/* Mixins */
.blur(@size)
{
    -webkit-filter: blur(@size); 
    -moz-filter: blur(@size); 
    -o-filter: blur(@size); 
    -ms-filter: blur(@size); 
    filter: blur(@size);
}

.transition(@transition)
{
    -webkit-transition: @transition;  
    -moz-transition:    @transition;
    -ms-transition:     @transition; 
    -o-transition:      @transition;  
    transition:         @transition;
}

.list-group .progress
{
    margin: 0;
}

label p
{
    margin: 0;
    padding :0;
}

input.monospace
{
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*Fix for bootstrap*/
.form-inline.form-control
{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

form#task
{
    .transition(all 0.3s ease-in-out);
    
    &.form-blur
    {
    	.blur(5px);
    }
    
    #task-submit
    {
    	margin-top: 10px;
    }
}

#submissions .submission
{
	cursor: pointer;
}

.table td.td-collapse
{
	padding: 0;
	border:none;
	
	background-color: #f9f9f9;
	
	> div
	{
		border-top: 1px solid #dddddd;
		border-left: 1px solid black;
		padding-left: 50px;
		padding-right: 0px;
		table.table
		{
			margin-top: 0px;
			margin-bottom: 10px;
		}
	}
}

.progress-bar[aria-valuenow]
{
	min-width: 30px;
}

#sidebar
{
	&.affix
	{
		right: 0;
		padding-right: 30px;
		padding-left: 8px;
	}
	
	@media screen and (max-width: 768px)
	{
		position:static !important;
	}
}
