@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
/* Mixins */
/* Fonts */
.navbar-brand {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 32px;
}
.navbar-brand img {
  height: 50px;
  margin-top: -15px;
  vertical-align: top;
}
/*Fixes for bootstrap*/
.form-inline.form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.table td.td-collapse {
  padding: 0;
  border: none;
  background-color: #f9f9f9;
}
.table td.td-collapse > div {
  border-top: 1px solid #dddddd;
  border-left: 1px solid black;
  padding-left: 50px;
  padding-right: 0px;
}
.table td.td-collapse > div table.table {
  margin-top: 0px;
  margin-bottom: 10px;
}
.progress-bar[aria-valuenow] {
  min-width: 30px;
}
/* Other */
.list-group .progress {
  margin: 0;
}
label p {
  margin: 0;
  padding: 0;
}
input.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#sidebar.affix {
  right: 0;
  top: 0;
  padding-right: 30px;
  padding-left: 7px;
}
@media screen and (max-width: 768px) {
  #sidebar {
    position: static !important;
  }
}
form#task {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
form#task.form-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
form#task #task-submit {
  margin-top: 10px;
}
#submissions .submission {
  cursor: pointer;
}
.index-logo {
  position: absolute;
  right: 0;
}
.index-logo img {
  width: 100%;
  max-width: 300px;
}
#task_debug dd {
  border-left: 1px solid #ccc;
  padding-left: 20px;
  min-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#task_debug dd dl {
  margin-bottom: 0;
}
/* Footer */
html,
body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -81px;
}
#footer,
.footer_push {
  padding-top: 21px;
  height: 81px;
}
#footer .navbar,
.footer_push .navbar {
  margin-bottom: 0;
}
