/* Mixins */
.list-group .progress {
  float: right;
  width: 250px;
  height: 20px;
}
label p {
  margin: 0;
  padding: 0;
}
input.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*Fix for bootstrap*/
.form-inline.form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
form#task {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
form#task.form-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
