{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% set offset = offset | default("0", true) %}

{% for section in sections %}
    {% if section.is_empty() %}
        {% with id="section_" + offset + "_" + (loop.index | string), title=section.get_title(), config=section.get_config(), level=level, hidden=False, display_subsections=False %}
            {% include "task_dispensers_admin/empty_section.html" %}
        {% endwith %}
    {% elif section.is_terminal() %}
        {% with id="section_" + offset + "_" + (loop.index | string) %}
            {% include "task_dispensers_admin/task_list.html" %}
        {% endwith %}
    {% else %}
        <div id="section_{{ offset}}_{{ loop.index }}" class="section sections_list mb-4" data-level="{{level}}">
            <div class="section_header handle d-flex justify-content-between divided pr-3">
                <span class="title h{{level}} mr-3">
                    <input type="checkbox" class="grouped-actions grouped-actions-section mr-3" data-section="section_{{ offset}}_{{ loop.index }}" />
                    {{ section.get_title() }}
                </span>
                <span class="divider"></span>
                {% with tasks_list_option=False, sections_list_option=True %}
                    {% include "task_dispensers_admin/section_menu.html" %}
                {% endwith %}
            </div>
            {% if config_fields %}
                <div class="config card-body">
                    {% with section_config=section.get_config(), config_fields=config_fields %}
                       {% include "task_dispensers_admin/section_config.html" %}
                    {% endwith %}
                </div>
            {% endif %}
            <div class="content ml-4">
                {% with sections=section.get_sections_list(),level=level+1, offset=offset + "_" + loop.index | string %}
                    {% include "task_dispensers_admin/section.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
{% endfor %}
