{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% include "task_dispensers_admin/util.html" %}

<div id="dispenser_structure" data-level="2" class="sections_list pb-3 mb-3">
    <div class="content">
        {% with sections=dispenser_structure,level=3,display_subsections=True,config_fields=config_fields %}
           {% include "task_dispensers_admin/section.html" %}
        {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-secondary btn-block" onclick="dispenser_util_create_section($('#dispenser_structure'))">
            <i class="fa fa-plus"></i> {{ _("Add section") }}
        </button>
    </div>
</div>

<!-- Invisible element (for copy) -->
{% with id="empty_section", title=_("New section"), config={}, level=0, hidden=True, display_subsections=True %}
   {% include "task_dispensers_admin/empty_section.html" %}
{% endwith %}

<script>
    dispenser_config = JSON.parse('{{ dispenser_config | tojson }}');
</script>
