$def with (pid,header,checkbox,choices,func)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#
<div id="task_alert_$pid" class="task_alert_problem"></div>
$:header
$for choice in choices:
    $if checkbox:
        <div class="checkbox">
            <label>
                <input type="checkbox" name="${pid}" value="$choice['index']"/> $:func(choice['text'])
            </label>
        </div>
    $else:
        <div class="radio">
            <label>
                <input type="radio" name="$pid" value="$choice['index']"/> $:func(choice['text'])
            </label>
        </div>