$def with (inputId,header,type,maxChars,optional)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#
$:header
<input
    $if type== "text":
        type="text"
    $elif type == "integer":
        type="number"
    $elif type == "decimal":
        type="number"
    name="$inputId"
    value=""
    $if "/" in inputId:
        class="monospace form-control form-inline"
    $else:
        class="monospace form-control"
    $if maxChars != 0:
        maxlength="$maxChars"
        style="width:${maxChars+1}em"
    data-optional="$bool(optional)"
/>