{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% set at = element.get_task_dispenser().get_accessibility(taskid, user_manager.session_username()) %}
{% if short %}
    {{_("Accessibility")}} :
    <span class="accessibility accessibility-never" {% if not at.is_never_accessible() %} style="display: none;" {% endif %}>{{_("Never")}}</span>
    <span class="accessibility accessibility-always" {% if not at.is_always_accessible() %} style="display: none;" {% endif %}>{{_("Always")}}</span>
    <span class="accessibility accessibility-custom" {% if at.is_always_accessible() or at.is_never_accessible() %} style="display: none;" {% endif %}>
        {{ _("Custom, from: {} to: {}").format('<span class="accessibility-custom-start datetime-display">' + str(at.get_std_start_date()) + '</span>', '<span class="accessibility-custom-end datetime-display">' + at.get_std_end_date() + '</span>') | safe}}
        (<span class="accessibility-custom-soft-end datetime-display">{{ at.get_std_soft_end_date() }}</span>)
    </span>
{% else %}

<div class="mt-3">{{_("Accessibility")}}</div>
<div class="form-group row accessibility">

    <div class="col-md-12">
        <label>
            <input class="accessibility" type="radio" value="false" name="accessibility" />
            {{_("Never")}}
        </label>
    </div>
    <div class="col-md-12">
        <label>
            <input class="accessibility" type="radio" value="true" name="accessibility" />
            {{_("Always")}}
        </label>
    </div>
    <div class="col-md-12 row">
        <div class="col-xs-12 col-lg-3">
            <label class="control-label">
                <input class="accessibility" type="radio" value="custom" name="accessibility"/>
                {%set text = _("Custom, from: {} to: {}").split("{}") %}
                {{ text[0] }}</label>
        </div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
            <div class="input-group date_picker" id="accessibility_start_picker{% if grouped %}_grouped{% endif %}" data-wrap="true" data-clickOpens="false">
                <input id="accessibility_start{% if grouped %}_grouped{% endif %}"  data-input data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="2024-06-29 10:00:00" type='text' class="form-control datetimepicker-input">
                <div class="input-group-append" title="toggle" data-toggle>
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>

        </div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-1"><label class="control-label">{{text[1]}}</label></div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
            <div class="input-group date_picker" id="accessibility_end_picker{% if grouped %}_grouped{% endif %}" data-wrap="true" data-clickOpens="false">
                <input id="accessibility_end{% if grouped %}_grouped{% endif %}"  data-input data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="2024-06-29 10:00:00" type='text' class="form-control datetimepicker-input">
                <div class="input-group-append" title="toggle" data-toggle>
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 row">
        <!-- Padding -->
        <div class="col-xs-12 col-lg-3"></div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4"></div>
        <!-- End of padding -->
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-1"><label class="control-label" data-toggle="tooltip" data-placement="top" title="{{ _('Students can still submit after this date') }}">{{ _("Soft Deadline") }} <sup>?</sup></label></div>
        <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
            <div class="form-group">
                <div class="input-group date_picker" id="accessibility_soft_end_picker{% if grouped %}_grouped{% endif %}" data-wrap="true" data-clickOpens="false">
                    <input id="accessibility_soft_end{% if grouped %}_grouped{% endif %}"  data-input data-date-format="YYYY-MM-DD HH:mm:ss" placeholder="2024-06-29 10:00:00" type='text' class="form-control datetimepicker-input">
                    <div class="input-group-append" title="toggle" data-toggle>
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            language = "{{user_manager.session_language()}}";
            flatpickr_datetime_format = "{{user_manager.session_datetime_format()}}";

            $(".input-group.date_picker").flatpickr({
                wrap: true,
                clickOpens: false,
                enableTime: true,
                enableSeconds: true,
                minuteIncrement: 1,
                secondIncrement: 1,
                dateFormat: flatpickr_datetime_format,
                allowInput: true,
                time_24hr: true,
                minuteIncrement: 1,
                secondIncrement: 1,
                locale: language
            });
        });
    </script>
</div>

{% if not grouped %}
<script>
    const timezone = "{{user_manager.session_timezone()}}" !== "None" ? "{{user_manager.session_timezone()}}" :  Intl.DateTimeFormat().resolvedOptions().timeZone;
    js_datetime_format = "{{available_datetime_formats[user_manager.session_datetime_format()]}}";

    // Feed modal
    $("#edit_task_modal").on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var taskid = button.data('taskid');

        if (!("accessibility" in dispenser_config[taskid]))
            return;
        var accessibility = dispenser_config[taskid]["accessibility"];
        var value;

        special_dates = ["{{ at.min }}", "{{ at.max }}"]
        function isSpecialDate(date) {
            return special_dates.includes(date);
        }

        if (Object.values(accessibility).some(date => !isSpecialDate(date))) {
            value = 'custom';

            start_date = isSpecialDate(accessibility["start"]) ? "" : moment.utc(accessibility["start"], 'YYYY-MM-DD HH:mm:ss').tz(timezone).format(js_datetime_format);
            soft_end_date = isSpecialDate(accessibility["soft_end"]) ? "" : moment.utc(accessibility["soft_end"], 'YYYY-MM-DD HH:mm:ss').tz(timezone).format(js_datetime_format);
            end_date = isSpecialDate(accessibility["end"]) ? "" : moment.utc(accessibility["end"], 'YYYY-MM-DD HH:mm:ss').tz(timezone).format(js_datetime_format );

            $("#accessibility_start").val(start_date);
            $("#accessibility_soft_end").val(soft_end_date);
            $("#accessibility_end").val(end_date);

        } else {
            if (Object.values(accessibility).some(date => date == "{{ at.min }}")) {
                value = 'true';
            } else {
                value = 'false';
            }

            $(this).find('#accessibility_start').val("");
            $(this).find('#accessibility_soft_end').val("");
            $(this).find('#accessibility_end').val("");

        }

        var field = $(this).find(".accessibility input[value=" + value + "]");
        field.prop("checked", true);

    });

    // Catch modal changes
    $("#edit_task_modal .accessibility input").change(function () {
        var taskid = $("#edit_task_modal").data("taskid");
        let action = $(this).attr("name");

        if(action == "accessibility") {
            $("#task_" + taskid + " .accessibility").hide();
            if($(this).val() == "true") {
                $("#task_" + taskid + " .accessibility-always").show();
                dispenser_config[taskid]["accessibility"]["start"] = "{{ at.min }}";
                dispenser_config[taskid]["accessibility"]["soft_end"] = "{{ at.max }}";
                dispenser_config[taskid]["accessibility"]["end"] = "{{ at.max }}";
            } else if($(this).val() == "false") {
                $("#task_" + taskid + " .accessibility-never").show();
                dispenser_config[taskid]["accessibility"]["start"] = "{{ at.max }}";
                dispenser_config[taskid]["accessibility"]["soft_end"] = "{{ at.max }}";
                dispenser_config[taskid]["accessibility"]["end"] = "{{ at.max }}";
            } else {
                $("#task_" + taskid + " .accessibility-custom").show();

                var start = $("#edit_task_modal").find("#accessibility_start").val();
                var soft_end = $("#edit_task_modal").find("#accessibility_soft_end").val();
                var end = $("#edit_task_modal").find("#accessibility_end").val();

                start = start !== "" ? moment(start, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                soft_end = soft_end !== "" ? moment(soft_end, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                end = end !== "" ? moment(end, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";

                dispenser_config[taskid]["accessibility"]["start"] = start == "" ? "{{ at.min }}" : start;
                dispenser_config[taskid]["accessibility"]["soft_end"] = soft_end == "" ? "{{ at.max }}" : soft_end;
                dispenser_config[taskid]["accessibility"]["end"] = end == "" ? "{{ at.max }}" : end;
            }
        } else {
            let id = $(this).attr("id");

            if (id == "accessibility_start") {
                var start = $("#edit_task_modal").find("#accessibility_start").val()
                $("#task_" + taskid + " .accessibility-custom-start").text(start);
                start = start !== "" ? moment(start, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                dispenser_config[taskid]["accessibility"]["start"] = start == "" ? "{{ at.min }}" : start;
            } else if(id == "accessibility_end") {
                var end = $("#edit_task_modal").find("#accessibility_end").val()
                $("#task_" + taskid + " .accessibility-custom-end").text(end);
                end = end !== "" ? moment(end, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                dispenser_config[taskid]["accessibility"]["end"] = end == "" ? "{{ at.max }}" : end;
            } else {
                var soft_end = $("#edit_task_modal").find("#accessibility_soft_end").val()
                $("#task_" + taskid + " .accessibility-custom-soft-end").text(soft_end);
                soft_end = soft_end !== "" ? moment(soft_end, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                dispenser_config[taskid]["accessibility"]["soft_end"] = soft_end == "" ? "{{ at.max }}" : soft_end;
            }
        }
    });


    // Catch grouped action changes
    $("#grouped-actions-edit .accessibility input").change(function () {
        let value = $(this).val();
        let action = $(this).attr("name");
        let id = $(this).attr("id");

        $(".grouped-actions-task:checked").each(function () {
            var taskid = $(this).data("taskid");

            if(action == "accessibility") {
                $("#task_" + taskid + " .accessibility").hide();
                if(value == "true") {
                    $("#task_" + taskid + " .accessibility-always").show();
                    dispenser_config[taskid]["accessibility"]["start"] = "{{ at.min }}";
                    dispenser_config[taskid]["accessibility"]["soft_end"] = "{{ at.max }}";
                    dispenser_config[taskid]["accessibility"]["end"] = "{{ at.max }}";
                } else if(value== "false") {
                    $("#task_" + taskid + " .accessibility-never").show();
                    dispenser_config[taskid]["accessibility"]["start"] = "{{ at.max }}";
                    dispenser_config[taskid]["accessibility"]["soft_end"] = "{{ at.max }}";
                    dispenser_config[taskid]["accessibility"]["end"] = "{{ at.max }}";
                } else {
                    $("#task_" + taskid + " .accessibility-custom").show();

                    var start = $("#grouped-actions-edit #accessibility_start_grouped").val();
                    var soft_end = $("#grouped-actions-edit #accessibility_soft_end_grouped").val();
                    var end = $("#grouped-actions-edit #accessibility_end_grouped").val();

                    start = start !== "" ? moment(start, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                    soft_end = soft_end !== "" ? moment(soft_end, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                    end = end !== "" ? moment(end, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";

                    dispenser_config[taskid]["accessibility"]["start"] = start == "" ? "{{ at.min }}" : start;
                    dispenser_config[taskid]["accessibility"]["soft_end"] = soft_end == "" ? "{{ at.max }}" : soft_end;
                    dispenser_config[taskid]["accessibility"]["end"] = end == "" ? "{{ at.max }}" : end;
                }
            } else {
                if (id == "accessibility_start")
                    $("#task_" + taskid + " .accessibility-custom-start").text(value);
                else if(id == "accessibility_end")
                    $("#task_" + taskid + " .accessibility-custom-end").text(value);
                else
                    $("#task_" + taskid + " .accessibility-custom-soft-end").text(value);

                var start = $("#grouped-actions-edit #accessibility_start_grouped").val();
                var soft_end = $("#grouped-actions-edit #accessibility_soft_end_grouped").val();
                var end = $("#grouped-actions-edit #accessibility_end_grouped").val();

                start = start !== "" ? moment(start, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                soft_end = soft_end !== "" ? moment(soft_end, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";
                end = end !== "" ? moment(end, js_datetime_format).tz(timezone).clone().utc().format('YYYY-MM-DD HH:mm:ss') : "";

                if ($("input[value='custom']").is(":checked")) {
                    dispenser_config[taskid]["accessibility"]["start"] = start == "" ? "{{ at.min }}" : start;
                    dispenser_config[taskid]["accessibility"]["soft_end"] = soft_end == "" ? "{{ at.max }}" : soft_end;
                    dispenser_config[taskid]["accessibility"]["end"] = end == "" ? "{{ at.max }}" : end;
                }
            }
        });
    });

</script>
{% endif %}

{% endif %}
