{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{%if short %}
    {% set group_submission = element.get_task_dispenser().get_group_submission(taskid) %}
    {{_("Submission mode")}} :
    <span class="group_submission group_submission-true" {% if not group_submission %} style="display: none;" {% endif %}>{{ _("Per group") }}</span>
    <span class="group_submission group_submission-false" {% if group_submission %} style="display: none;" {% endif %}>{{ _("Individually") }}</span>
{% else %}
<div class="mt-3">{{_("Submission mode")}}</div>
<div class="form-group group_submissions">
    <div class="row">
        <div class="col-md-12">
            <label>
            <input type="radio" value="false" name="group_submission_{{taskid}}" class="group_submission"
                {{ 'checked="checked"'|safe if not group_submission }}/>
            {{ _("Individually") }}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>
                <input type="radio" value="true" name="group_submission_{{taskid}}" class="group_submission"
                    {{ 'checked="checked"'|safe if group_submission }} />
                {{_("Per group")}}
            </label>
        </div>
    </div>
</div>

{% if not grouped %}
<script>
    // Feed modal
    $("#edit_task_modal").on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var taskid = button.data('taskid');
        if (!("group_submission" in dispenser_config[taskid]))
            return;
        var value = dispenser_config[taskid]["group_submission"];
        var field = $(this).find(".group_submissions input[value=" + value + "]");
        field.prop("checked", true);
    });

    // Catch modal changes
    $("#edit_task_modal .group_submissions input").change(function () {
        var taskid = $("#edit_task_modal").data("taskid");
        dispenser_config[taskid]["group_submission"] = Boolean($(this).val());

        $("#task_" + taskid + " span.group_submission").hide();
        if($(this).val() == "true")
            $("#task_" + taskid + " .group_submission-true").show();
        else
            $("#task_" + taskid + " .group_submission-false").show();
    });

    // Catch grouped action changes
    $("#grouped-actions-edit .group_submissions input").change(function () {
        let value = $(this).val();
        $(".grouped-actions-task:checked").each(function () {
            var taskid = $(this).data("taskid");
            dispenser_config[taskid]["group_submission"] = Boolean(value);

            $("#task_" + taskid + " span.group_submission").hide();
            if(value == "true")
                $("#task_" + taskid + " .group_submission-true").show();
            else
                $("#task_" + taskid + " .group_submission-false").show();
        });
    });
</script>
{% endif %}

{% endif %}
