
$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
</div>
<div class="row" id="new_subproblem">
    <div class="form-group col-xs-12">
        <label for="new_subproblem_pid" class="col-sm-2 control-label">New problem id</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="new_subproblem_pid" value="" placeholder="new-problem-id"/>
        </div>
        <label for="new_subproblem_type" class="col-sm-2 control-label">problem type</label>
        <div class="col-sm-3">
            <select class="form-control" id="new_subproblem_type">
                <!-- <option value="subproblem_code">code</option> -->
                <option value="subproblem_code_multiple_languages">code multiple languages</option>
                <!-- <option value="subproblem_code_file">file upload</option> -->
                <option value="subproblem_code_file_multiple_languages">project upload</option>
                <option value="subproblem_match">match</option>
                <option value="subproblem_multiple_choice">multiple choice</option>
                <option value="subproblem_custom">custom</option>
            </select>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-block" onclick="studio_create_new_subproblem();">Add</button>
        </div>
    </div>
</div>

