{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="form-group row">
    <label for="name" class="col-sm-2 control-label">{{ _("Name") }}</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="title for this task" value="{{task_data.get('name','')}}">
    </div>
</div>

{% if available_filetypes|length != 1 %}
    <div class="form-group row">
        <label for="name" class="col-sm-2 control-label">{{ _("Filetype") }}</label>
        <div class="col-sm-10">
            <select class="form-control" id="@filetype" name="@filetype">
                {% for type in available_filetypes %}
                    <option value="{{type}}"
                        {% if type == current_filetype or (current_filetype is none and type == "yaml") %}
                            selected="selected"
                        {% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% else %}
    <input type="hidden" id="@filetype" name="@filetype" value="{{ available_filetypes[0] }}"/>
{% endif %}

<div class="form-group row">
    <label for="context" class="col-sm-2 control-label">{{_("Context")}}</label>
    <div class="col-sm-10">
        <textarea id="context" class="code-editor form-control" name="context" data-x-language="rst" data-x-lines="10">{{ task_data.get('context','') }}</textarea>
    </div>
</div>
<div class="form-group row">
    <label for="author" class="col-sm-2 control-label">{{ _("Author") }}</label>
    <div class="col-sm-10">
        {% if task_data.get('author',[]) is not string %}
            {% set a= task_data.get('author',[]) or [] | join(', ') %}
        {% else %}
            {% set a = task_data.get('author',[]) %}
        {% endif %}
        <input type="text" class="form-control" id="author" name="author" placeholder="{{ _('Your name') }}" value="{{ a }}"/>
    </div>
</div>
<div class="form-group row">
    <label for="contact-url" class="col-sm-2 control-label">{{_("Contact URL")}}</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="contact-url" name="contact_url" placeholder="{{_('Contact link')}}" value="{{task_data.get('contact_url','')}}"/>
    </div>
</div>
<div class="form-group row">
    <label for="groups" class="col-md-2 control-label">{{ _("Random inputs") }}</label>
    <div class="col-md-2">
        {% set n_inputs_random = task_data.get('input_random', 0) %}
        <input name="input_random" class="form-control input-xs" style="height:20px;padding: 0 10px;" value="{{n_inputs_random}}" placeholder="0" type="number">
    </div>
</div>
<div class="form-group row">
    <label for="regenerate_input_random" class="col-md-2 control-label" data-toggle="tooltip" data-placement="top" title="{{ _('Regenerate random inputs for each reloading of the task page') }}">{{ _("Regenerate input random")}} <sup>?</sup></label>
    <div class="col-md-1">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="regenerate_input_random" name="regenerate_input_random"
                   {{ 'checked="checked"'|safe if task_data.get('regenerate_input_random',False) }} />
        </div>
    </div>
</div>
