$def with (inputId,lines,maxChars,language,optional)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<textarea id="$inputId"
          name="$inputId"
          $if "/" in inputId:
              class="code-editor form-control"
          $else:
              class="code-editor form-control single"
          data-x-language="$language"
          data-x-lines="$lines"
          data-optional="$bool(optional)"
></textarea>

