$def with (inputId,lines,maxChars,language,optional)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<textarea name="$inputId"
          $if "/" in inputId:
              class="code-editor form-control"
          $else:
              class="code-editor form-control single"
          data-x-language="$language"
          data-x-lines="$lines"
          data-optional="$bool(optional)"
></textarea>
</br>
</br>
<button type="button" onclick="lintCode('$language', '$inputId')">Linter</button>
<button type="button" data-toggle="modal" data-target="#modal-$inputId" onclick="visualizeCode('$language', '$inputId')">Visualize</button>
<div id="modal-$inputId" class="modal modal-wide fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Visualize your code!</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->