$def with (inputId, language, customInputId)

<br>
<br>
<div>
  <button type="button" class="btn btn-primary" onclick="toggleElement('tools-$inputId')">Tools</button>
  <div id="tools-$inputId" style="display: none">
    <br>
    <button class="btn" type="button" onclick="lintCode('$language', '$inputId')">Linter</button>
    <button class="btn" type="button" data-toggle="modal" data-target="#modal-$inputId" onclick="visualizeCode('$language', '$inputId')">Visualize</button>
    <div id="modal-$inputId" class="modal modal-wide fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Visualize your code!</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->  

    <button class="btn" type="button" onclick="toggleElement('custominputpanel-$inputId')">Custom input</button>    
    <br><br>
    <div id="custominputpanel-$inputId" style="display: none">
      <input type="file" id="filelink-custominput-$inputId" style="display: none;" />
      Paste your input or <a href="#" id="link-custominput-$inputId">upload it from file</a>  
      <br>
      <textarea
          id="custominput-$inputId"
          name="$customInputId"
          rows="10"
          class="form-control"
          placeholder="Your input goes here"
      ></textarea>
      <br>
      <button type="button" class="btn btn-md btn-block" onclick="runCustomInput('$customInputId')">Run custom input</button>
    </div>

  </div>
</div>