$def with (user_info, course, submissions, tasks, tasks_data, grade, tag_filter_list)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:course.get_name(user_manager.session_language())
$ registered = user_manager.course_is_user_registered(course)
$ staff = user_manager.has_staff_rights_on_course(course)
$# Left column content
$def ColumnF():
    $:template_helper.call('course_menu', course=course, template_helper=template_helper)
    $if registered or staff:
        <h3>$:_("Current grade")</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-success" aria-valuenow="$int(grade)" aria-valuemin="0" aria-valuemax="100" style="width: $grade%">
                $int(grade)%
            </div>
        </div>

        <h3>$:_("Last tried exercises")</h3>
        <div class="list-group">
            $if submissions:
                $for submission in submissions:
                    <a class="list-group-item
                        $if submission['status'] == 'done' and submission['result'] == 'success':
                            list-group-item-success
                        $elif submission['status'] == 'done' and submission['result'] == 'save':
                            list-group-item-info
                        $elif submission['status'] == 'waiting':
                            list-group-item-warning
                        $else:
                            list-group-item-danger
                        "
                        href="$get_homepath()/course/$submission['courseid']/$submission['taskid']">
                        $submission['taskname']
                    </a>
            $else:
                <a class="list-group-item disabled submission-empty">$:_("No submissions")</a>
        </div>
    $if staff:
        $if not course.is_open_to_non_staff():
            <div class="alert alert-warning" role="alert">
                $:_("This course is currently invisible for students. You can change this by modifying the \"accessibility\" option in the configuration of the course.")
            </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-info" href="$get_homepath()/admin/$course.get_id()">
                <i class="fa fa-user-secret fa-fw"></i>&nbsp; $:_("Course administration")
            </a>
        </div>
    $elif registered:
        <div class="list-group">
            <a class="list-group-item list-group-item-info" href="$get_homepath()/aggregation/$course.get_id()">
                <i class="fa fa-group fa-fw"></i>&nbsp;
                $ myaggregation = user_manager.get_course_user_aggregation(course)
                $if course.use_classrooms():
                    $:_("Classroom : {}").format(myaggregation['description'])
                $elif len(myaggregation['groups']) > 0 and user_manager.session_username() in myaggregation['groups'][0]['students']:
                    $:_("Team : {}").format(myaggregation['description'])
                $else:
                    $:_("Teams management")
            </a>
            $if course.allow_unregister():
                $:include.unregister_button(course)
        </div>
    $elif not user_manager.session_logged_in():
        $:include.signin_button()
    $elif course.is_registration_possible(user_info):
        $:include.register_button(course)
$var Column: $:ColumnF()

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        $if registered:
            <li><a href="$get_homepath()/mycourses" title=$:_('"My courses"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-th-list"></i></a></li>
        $else:
            <li><a href="$get_homepath()/courselist" title=$:_('"Course list"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-th-list"></i></a></li>
        <li class="active"><a href="#">$course.get_name(user_manager.session_language()) <span class="sr-only">$:_("(current)")</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

$# Start content
<h2>$:_("{course_name} - List of exercises").format(course_name=course.get_name(user_manager.session_language()))</h2>

<!-- Tag filter -->
$if tag_filter_list:
    <div class="form-group">
        <label for="sel1">$:_("Filter tasks by tags")</label>
        <select class="form-control" id="tag_filter" onchange="filter_tag(this)">
            <option value="">$:_("No filter")</option>
        $for tag_name in tag_filter_list:
            <option value="$tag_name">$tag_name</option>
        </select>
    </div>
<script>
function filter_tag(tag) {
    tag = tag.value;
    $$("a", "#tasks-list").each(function(idx, elem) {
        var task = $$(elem);
        var found=false;
        $$("div[id='tag']", task).each(function() {
            if ($$(this).attr("data-tag-name") == tag){
                found=true;
            }
        });
        if(found || tag == ""){
            task.show();
        }else{
            task.hide();
        }
    });
}
</script>
<!-- End tag filter -->

<div id="tasks-list" class="list-group list-group-progress" style="margin-left: 16px; margin-right: 16px;">
    $for taskid, task in tasks.items()
        $if tasks_data[taskid]["visible"]:
            $ succeeded=tasks_data[taskid]["succeeded"]
            $ completion=tasks_data[taskid]["grade"]
            <a href="$get_homepath()/course/$course.get_id()/$taskid" class="row list-group-item
                $if not task.is_visible_by_students() or not task.get_accessible_time().is_open():
                    disabled
                ">
                <div class="col-xs-12 col-md-7">
                    $if succeeded:
                        <i style="color:#468847; position: absolute; left: -5px;" class="fa fa-check"></i>
                    $task.get_name(user_manager.session_language())
                    $if not task.is_visible_by_students():
                        - <b>$:_("task hidden to students")</b>
                    $if not task.get_accessible_time().is_open():
                        - <b>$:_("deadline reached")</b>
                </div>
                <div class="col-xs-12 col-md-5">
                    $if registered:
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" aria-valuenow="$int(completion)" aria-valuemin="0" aria-valuemax="100" style="width: $completion%">
                                $(int(completion) if completion.is_integer() else completion)%
                            </div>
                        </div>
                </div>
                <div id="tags_of_task" style="display:none;">
                    $for tag in (task.get_tags()[2]+task.get_tags()[0]):
                        $if tag.is_visible_for_student() or user_manager.has_staff_rights_on_course(course):
                            <div id="tag" data-tag-name="$:_(tag.get_name())"></div>
                </div>
            </a>
</div>