$def with (open_courses, user_info)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:_("Course list")

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-th-list"></i> $:_("Course list")
            <span class="sr-only">$:_("(current)")</span></a>
        </li>
    </ol>
$var Navbar: $:NavbarF()

$# Left column content
$def ColumnF():
    $if not user_manager.session_logged_in():
        $:include.signin_button()
    $else:
        <h3>$:_("Public courses")</h3>
        <div class="alert alert-warning" role="alert">
            $:_("This page lists all the courses that are available now. If you are a course administrator, go to your 'My courses' page to see all of them.")
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-info" href="$get_homepath()/mycourses">
                <i class="fa fa-fw fa-th-list"></i>
                $:_("My courses / Register for a course")
            </a>
        </div>
$var Column: $:ColumnF()

$# Start content
<h2>$:_("Course list")</h2>
<div class="list-group list-group-progress" style="margin-left: 16px; margin-right: 16px;">
    $ username = user_manager.session_username()
    $for courseid, course in open_courses.items():
        $ no_display = (course.is_lti() or (not user_manager.course_is_user_registered(course, username) and not course.allow_preview())) and not user_manager.has_admin_rights_on_course(course)
        <a href="$('#' if no_display else (get_homepath()+'/course/'+courseid))" class="list-group-item row $('disabled' if no_display else '')">
            <div class="col-xs-12 col-md-8">
                $course.get_name(user_manager.session_language())
            </div>
            <div class="col-xs-12 col-md-4">
                $if course.is_lti():
                    <i data-toggle="tooltip" title=$:_("'External platform'") data-placement="top" class="pull-right fa fa-fw fa-external-link"></i>
                $if course.is_registration_possible(user_info):
                    <i data-toggle="tooltip" title=$:_("'Auto-registration'") data-placement="top" class="pull-right fa fa-fw fa-user"></i>
                $if course.is_password_needed_for_registration():
                    <i data-toggle="tooltip" title=$:_("'Password needed'") data-placement="top" class="pull-right fa fa-fw fa-key"></i>

            </div>
        </a>
</div>