{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% extends "layout.html" %}
{% block title %}{{ _("Internal error") }}{% endblock %}
{% block content %}
<img src="{{ get_homepath(True) }}/static/images/logo_maintenance.png" style="margin:auto; display:block;"/>
<div class="alert alert-danger" role="alert" style="text-align: center;">
    {{ _("<b>Internal error</b> Something bad happened. The error has been logged, please contact your administrator if the error persists.") | safe }}
    {% if message %}
        <br/> {{ message }}
    {% endif %}
</div>
{% endblock %}