{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% extends "layout.html" %}

{% block title %} _("Connection") {% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="media ">
        <img class="align-self-center mr-3" src="{{ get_homepath(True) }}/static/images/header.png" alt="INGInious">
        <div class="media-body">
            <h2 class="mt-0"> {{ _('Hello!') }}</h2>
            <h3>{{ _('Welcome on the INGInious platform.') }}</h3>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-5">
        {{ template_helper.call('welcome_text', template_helper=template_helper) | safe }}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4 alert alert-warning">
        {{ _("In order to use INGInious via this platform, please bind your existing account or create a new one.") }}
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-4 p-0">
        <div class="card card-body bg-light">
            <p class="mb-2"><a onclick="window.open('{{ get_homepath(True) }}/lti/bind?sessionid={{ user_manager.session_id() }}');" href="#">{{ _("Bind your INGInious account") }}</a></p>
            <p class="m-0"><a href="{{ get_homepath() }}/lti/login">{{ _("Refresh") }}</a></p>
        </div>
    </div>
</div>
{% endblock %}
