{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% extends "layout.html" %}
{% block title %}Maintenance{% endblock %}
{% block content %}
    <img src="{{ get_homepath(True) }}/static/images/logo_maintenance.png" style="margin:auto; display:block;"/>
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        {{ _("<b>This INGInious instance is currently under maintenance.</b> Please come back in a few minutes!") | safe }}
    </div>
{% endblock %}