{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% extends "layout.html" %}
{% block title %}{{ course.get_name(user_manager.session_language()) }}{% endblock %}}
{% block column %}
<h3>{{ _("Information") }}</h3>
    <table class="table table-sm">
        {% if course.get_languages() %}
            <tr>
                <td>{{ _("Language(s)") }}</td>
                <td>{{ course.get_languages() }}</td>
            </tr>
        {%  endif %}
        {% if course.get_license() %}
            <tr>
                <td>{{ _("License") }}</td>
                <td>{{ course.get_license() }}</td>
            </tr>
        {%  endif %}
        {% if course.get_maintainers() %}
            <tr>
                <td>{{ _("Maintainer(s)") }}</td>
                <td>{{ course.get_maintainers() }}</td>
            </tr>
        {% endif %}
        {% if course.get_authors() %}
            <tr>
                <td>{{ _("Author(s)") }}</td>
                <td>{{ course.get_authors() }}</td>
            </tr>
        {% endif %}
        {% if course.get_link() %}
            <tr>
                <td>{{ _("Link") }}</td>
                <td><a href="{{ course.get_link() }}" target="_blank">{{ course.get_link() }}</a></td>
            </tr>
        {% endif %}
    </table>
{% endblock %}

{% block navbar %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ get_homepath() + "/marketplace"}}" title="{{ _("Marketplace") }}" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-shopping-bag"></i></a></li>
            <li class="breadcrumb-item active"><a href="#"> {{ course.get_name(user_manager.session_language()) }}
                <span class="sr-only">{{_("(current)")}}</span></a></li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <h2>{{ course.get_name(user_manager.session_language()) }}</h2>
    {% for error in errors %}
        <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ error }}
        </div>
    {% endfor %}
    <div id="course_description">
        {{ course.get_description(user_manager.session_language()) | safe }}
    </div>
    <form class="form row" method="post">
        <div class="form-group col-sm-8">
            <input name="new_courseid" type="text" class="form-control" id="new_courseid" placeholder='{{ _("New course id") }}'>
        </div>
        <div class="form-group col-sm-4">
            <button type="submit" class="btn btn-block btn-primary">{{ _("Import course") }}</button>
        </div>
    </form>
{% endblock %}