$def with ()

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:_("Marketplace")

$def NavbarF():
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="#"><i class="fa fa-shopping-bag"></i> $:_("Marketplace")
                <span class="sr-only">$:_("(current)")</span></a>
            </li>
        </ol>
    </nav>
$var Navbar: $:NavbarF()
