$def with (course)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#


<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
    <div class="modal-dialog" role="document">
        <form method="post" action="/index">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="registerModalLabel">$:_("Enroll in the course")</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="register_courseid" value="$course.get_id()">
                    $:_("This will enroll you in the course {}.").format(course.get_name(user_manager.session_language()))
                    $if course.is_password_needed_for_registration():
                    <div class="form-group">
                        <label for="register_password" class="control-label">$:_("Password") :</label>
                        <input class="form-control" type="text" name="register_password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">$:_("Close")</button>
                    <button type="submit" class="btn btn-primary">$:_("Enroll in the course")</button>
                </div>
            </div>
        </form>
    </div>
</div>