{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<h3>{{ _("Sign in")}}</h3>
<div class="alert alert-warning" role="alert">
    {{ _("Please register or sign in to see the complete list of courses and be able to submit answers to problems.")}}
</div>
<div class="list-group">
    <a class="list-group-item list-group-item-info" href="{{get_homepath()}}/signin">
        <i class="fa fa-fw fa-sign-in"></i>
        {{ _("Sign in") }}
    </a>
</div>