{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="form-group row">
    <label for="header-PID" class="col-sm-2 control-label">{{ _("Context") }}</label>
    <div class="col-sm-10">
        <textarea id="header-PID" class="form-control" name="problem[PID][header]"></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="answer-PID" class="col-sm-2 control-label">{{ _("Answer") }}</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="answer-PID" name="problem[PID][answer]" placeholder="{{ _('Answer of this question') }}"/>
    </div>
</div>
