{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% set registered = user_manager.course_is_user_registered(course) %}
{% set task_dispenser = course.get_task_dispenser() %}

<div id="section_{{ list_id }}" class="section tasks_list card mb-4">
    <div class="section_header card-header d-flex justify-content-between pr-3" onclick="dropdown(this)">
        <span class="title">
            {{ _(title) }}
        </span>

        <span style="font-size: 1.5rem;" class="dropdown_button fa
         {% if config.get('closed', False) %}
             fa-caret-left
         {% else %}
             fa-caret-down
         {% endif %} close">
        </span>
    </div>
    <div class="content list-group list-group-flush tasks-list" style="{% if config.get('closed', False) %} display:none; {% endif %}">
        {% for task in tasks %}
            {% set taskid = task.get_id() %}
            {% if taskid in tasks_data %}
                {% set succeeded = tasks_data[taskid]["succeeded"] %}
                {% set completion = tasks_data[taskid]["grade"] %}
                <a href="{{ get_homepath() }}/course/{{course.get_id()}}/{{taskid}}" class="list-group-item list-group-item-action
                    {% if not accessibilities[user_manager.session_username()][taskid].is_open() %} disabled {% endif %}" style="pointer-events: auto;">
                    <div class="row">
                        <div class="col-xs-12 col-md-7 pl-1">
                            <i style="color: {% if succeeded %}#468847{% else %}transparent{% endif %};" class="fa fa-check"></i>
                            {{ task.get_name(user_manager.session_language()) }}
                            {% if not accessibilities[user_manager.session_username()][taskid].is_open() %}
                                - <b> {{ _("deadline reached") }} </b>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-5">
                            {% if registered %}
                                <div type="button" class="fa fa-info" style="float: left; margin-top: 2px; margin-right: 5px;" data-toggle="tooltip" data-placement="bottom" title='{{_("Weight : ")}}{{course.get_task_dispenser().get_weight(taskid)}}'></div>
                                <div class="progress">
                                    <div class="progress-bar bg-success" aria-valuenow="{{ completion | int }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ completion | int }}%">
                                        {% if completion.is_integer() %}{{ completion | int }}{% else %}{{ completion }}{% endif %} %
                                    </div>
                                </div>
                                {{ template_helper.call('task_list_item', course=course, task=task, tasks_data=tasks_data, template_helper=template_helper) | safe }}
                            {% endif %}
                        </div>
                    </div>
                    <div id="tags_of_task" style="display:none;">
                        {% for tag in course.get_task_dispenser().get_categories(task.get_id()) %}
                            <div id="tag" data-tag-name="{{ tag }}"></div>
                        {% endfor %}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>