$def with (course,taskid,task_data)
$var title: Edit $:task.get_name()

<form action="/admin/${course.get_id()}/edit/$taskid" method="post">
    <input type="hidden" name="@action" value="edit_task"/>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="title for this task" value="${task_data.get('name','')}">
        </div>
    </div>
    <div class="form-group">
        <label for="context" class="col-sm-2 control-label">Context</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="context" name="context" placeholder="A description of what the student will have to do in this task">${task_data.get('context','')}</textarea>
        </div>
    </div>
</form>