$def with (course,aggregation,task,data,statistics)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:task.get_name(user_manager.session_language()) - $:aggregation["description"] - $:course.get_name(user_manager.session_language())

$var Column: $:template_helper.call('course_admin_menu',course=course,current='aggregations')

$ use_classrooms = course.use_classrooms()
$ is_admin = user_manager.has_admin_rights_on_course(course)

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name(user_manager.session_language())</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title=$:_('"Administration"') data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/aggregations" title=$(_('"Classrooms"') if use_classrooms else _('"Teams"')) data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-group"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/aggregation/$aggregation['_id']">$aggregation["description"]</a></li>
        <li class="active"><a href="#">$:task.get_name(user_manager.session_language()) <span class="sr-only">$:_("(current)")</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<!-- Statistics -->
<div class="table-responsive">
<div class="col-sm-5">
    <div class="panel panel-default">
        <div class="panel-heading">$:_("Submissions statistics")</div>
        <div class="panel-body ">
            <table class="table table-condensed table-summary table-borderless ">
                <tbody>
                    $for stat in statistics[0]:
                        <tr>
                            <td class="summary-heading">$stat[0]</td>
                            <td class="summary-content">$stat[1]</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
$if task.get_tags()[0] or task.get_tags()[1]:
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">$:_("Tag statistics")</div>
            <div class="panel-body ">
                <table class="table table-condensed table-summary table-borderless ">
                    <thead>
                        <tr>
                            <th>$:_("Tag")</th>
                            <th>$:_("All submissions")</th>
                            <th>$:_("Best submissions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        $for (tag, v_total, v_best) in statistics[1]:
                            $ color = "badge alert-danger" if tag.is_antitag() else "badge alert-info" 
                            <tr>
                                <td><span class="$color" id="$tag.get_id()" data-toggle="tooltip" data-placement="left" title="$tag.get_description()">$tag.get_name()</span></td>
                                <td>$v_total</td>
                                <td>$v_best</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- End Statistics -->

<h2>$:_("Submissions for the task {}").format(task.get_name(user_manager.session_language())) - $aggregation["description"]</h2>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>$:_("authors")</th>
            <th>$:_("id")</th>
            <th>$:_("submitted on")</th>
            <th>$:_("result")</th>
            $if task.get_tags()[0] or task.get_tags()[1]:
                <th>$:_("tags")</th>
            <th>
                <!-- the 73px is there to force horizontal button-group. The btn-group may becomes vertical without this. -->
                <div class="btn-group" role="group" style="width:73px">
                    <a href="$get_homepath()/admin/${course.get_id()}/download?format=taskid%2Faggregation&aggregations=${aggregation['_id']}&tasks=${task.get_id()}"
                       class="btn btn-danger btn-xs" title=$:_('"Download all submissions"') data-toggle="tooltip" data-placement="bottom"><i class="fa
                       fa-download"></i></a>
                    $if is_admin:
                        <a href="$get_homepath()/admin/${course.get_id()}/replay?format=taskid%2Faggregation&aggregations=${aggregation['_id']}&tasks=${task.get_id()}"
                           class="btn btn-warning btn-xs" title=$:_('"Replay all submissions"') data-toggle="tooltip" data-placement="bottom"><i class="fa
                           fa-refresh"></i></a>
                    <a href="$get_homepath()/admin/${course.get_id()}/aggregation/${aggregation['_id']}/${task.get_id()}?csv" class="btn btn-info btn-xs"
                       title=$:_('"Download CSV"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-table"></i></a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    $for submission in data:
        $ succeeded = "result" in submission and submission["result"] == "success"
    	<tr
            $if succeeded:
                class="success"
            $elif submission['status'] == 'waiting':
                class="warning"
            $else:
                class="danger"
        >
            <td>
                $if "best" in submission and submission["best"]:
                    <i class="fa fa-star" title=$:_('"Evaluation submission"')
                        data-toggle="tooltip" data-placement="bottom"></i>
            </td>
            <td>
                $for user in submission["username"]:
                    $user<br>
            </td>
            <td>$submission["_id"]</td>
            <td>$submission["submitted_on"].strftime("%d/%m/%Y %H:%M:%S")</td>
            <td id="status">
                $if succeeded:
                    $:_("Succeeded")
                $elif submission['status'] == 'waiting':
                    $:_("Waiting")
                $else:
                    $:_("Failed")
                ($submission.get("grade",0.0)%)
            </td>
            <td>
                $for tag in task.get_tags()[0]:
                    <span style="line-height: 18px;">
                    $if "tests" in submission and tag.get_id() in submission["tests"] and submission["tests"][tag.get_id()]:
                        <span class="badge alert-success" id="$tag.get_id()">$tag.get_name()</span>
                    $else:
                        <span class="badge alert-info" id="$tag.get_id()">$tag.get_name()</span>
                    </span>
                $for tag in task.get_tags()[1]:
                    <span style="line-height: 18px;">
                    $if "tests" in submission and tag.get_id() in submission["tests"] and submission["tests"][tag.get_id()]:
                        <span class="badge alert-danger" id="$tag.get_id()">$tag.get_name()</span> 
                    </span>
                $# Auto-tags not defined in task
                $if "tests" in submission:
                    $for tag in submission["tests"]:
                        $if tag.startswith("auto-tag-"):
                            <span style="line-height: 18px;">
                                <span class="badge alert-default")">$submission["tests"][tag]</span> 
                            </span>                    
                </td>
            <td>
                <div class="btn-group" role="group">
                    <a href="$get_homepath()/submission/$submission['_id']"
                       class="btn btn-default btn-xs" title=$:_('"View submission"') data-toggle="tooltip" data-placement="bottom"><i class="fa
                       fa-search"></i></a>
                    <a href="$get_homepath()/admin/${course.get_id()}/download$submission['url']" class="btn btn-default btn-xs"
                       title=$:_('"Download submission"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download"></i></a>
                    $if is_admin:
                        <a class="replay btn btn-default btn-xs" title=$:_('"Replay submission"') data-toggle="tooltip" data-submissionid="$submission['_id']"
                           data-placement="bottom"><i class="fa fa-refresh"></i></a>
                </div>
            </td>
    	</tr>
    </tbody>
</table>

$if is_admin:
    <script language="javascript">
        $$(".replay").click (function (event) {
            var row = $$(this).rparent(3);
            $$.ajax({
                type: "POST",
                url: "/admin/${course.get_id()}/replay",
                data: "submission=" + $$(this).data("submissionid"),
                success: function(data) {
                    row.find("#status").text($:_('"Waiting"') + "(0.0%)");
                    row.removeClass();
                    row.addClass("warning");
                }
            });
        });
    </script>