$def with (course,aggregation,data)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:aggregation["description"] - $:course.get_name(user_manager.session_language())

$var Column: $:template_helper.call('course_admin_menu',course=course,current='aggregations')

$ use_classrooms = course.use_classrooms()
$ is_admin = user_manager.has_admin_rights_on_course(course)

$def NavbarF():
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="$get_homepath()/course/$course.get_id()">$course.get_name(user_manager.session_language())</a></li>
            <li class="breadcrumb-item"><a href="$get_homepath()/admin/$course.get_id()" title=$:_("'Administration'") data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-user-secret"></i></a></li>
            <li class="breadcrumb-item"><a href="$get_homepath()/admin/$course.get_id()/aggregations" title=$(_('"Classrooms"') if use_classrooms else _('"Teams"')) data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-group"></i></a></li>

            <li class="breadcrumb-item active"><a href="#">$aggregation["description"] <span class="sr-only">$:_("(current)")</span></a></li>
        </ol>
    </nav>
$var Navbar: $:NavbarF()

<h2>$((_("Statistics for classroom {}") if use_classrooms else _("Statistics for group {}")).format(aggregation["description"]))</h2>
<table class="table">
    <thead class="table-borderless">
        <tr>
            <th>$:_("Task")</th>
            <th>$:_("Status")</th>
            <th>$:_("# submissions")</th>
            <th>
                <div class="btn-group btn-group-sm" role="group">
                    <a href="$get_homepath()/admin/${course.get_id()}/download?format=taskid%2Faggregation&aggregations=$aggregation['_id']"
                       class="btn btn-danger" title=$:_('"Download all submissions"') data-toggle="tooltip" data-placement="bottom"><i class="fa
                       fa-download"></i></a>
                    $if is_admin:
                        <a href="$get_homepath()/admin/${course.get_id()}/replay?format=taskid%2Faggregation&aggregations=$aggregation['_id']"
                           class="btn btn-warning" title=$:_('"Replay all submissions"') data-toggle="tooltip" data-placement="bottom"><i class="fa
                           fa-refresh"></i></a>
                    <a href="$get_homepath()/admin/${course.get_id()}/aggregation/${aggregation['_id']}?csv" class="btn btn-info"
                       title=$:('"Download CSV"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-table"></i></a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
    $for task in data:
    	<tr
            $if task["status"] == "notattempted":
                class="table-warning"
            $elif task["status"] == "succeeded":
                class="table-success"
            $elif task["status"] == "failed":
                class="table-danger"
        >
    		<td><a href="$get_homepath()/admin/${course.get_id()}/submissions?aggregation=$aggregation['_id']&task=$task['taskid']">$task["name"]</a></td>
    		<td>
                $if task["status"] == "notviewed":
                    $:_("Not viewed")
                $elif task["status"] == "notattempted":
                     $:_("Not attempted (viewed)")
                $elif task["status"] == "succeeded":
                     $:_("Succeeded") ($task["grade"]%)
                $else:
                     $:_("Failed") ($task["grade"]%)
            </td>
            <td>$task["tried"]</td>
    		<td>
                <div class="btn-group btn-group-sm" role="group">
    			    <a href="$get_homepath()/admin/${course.get_id()}/submissions?aggregation=$aggregation['_id']&task=$task['taskid']" class="btn btn-secondary"
                       title=$:_('"View submissions"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-search"></i></a>
                    <a href="$get_homepath()/admin/$course.get_id()/download$task['url']" class="btn btn-secondary" title=$:_('"Download submissions"')
                       data-toggle="tooltip" data-placement="bottom"><i class="fa fa-download"></i></a>
                    $if is_admin:
                        <a href="$get_homepath()/admin/$course.get_id()/replay$task['url']" class="btn btn-secondary" title=$:_('"Replay submissions"')
                           data-toggle="tooltip" data-placement="bottom"><i class="fa fa-refresh"></i></a>
                </div>
    		</td>
    	</tr>
    </tbody>
</table>