$def with (course, users, tutored_users, audiences, tutored_audiences, tasks, old_params, data, displayed_selection, msgs)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#


$var title: $:_("Submissions")

$var Column: $:template_helper.call('course_admin_menu',course=course,current='new_submissions')
$ is_admin = user_manager.has_admin_rights_on_course(course)

$def NavbarF():
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="$get_homepath()/course/$course.get_id()">$course.get_name(user_manager.session_language())</a></li>
            <li class="breadcrumb-item"><a href="$get_homepath()/admin/$course.get_id()" title=$:_('"Administration"') data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-user-secret"></i></a></li>
            <li class="breadcrumb-item active"><a href="#"><i class="fa fa-cloud-download"></i> $:_("Submissions") <span class="sr-only">$:_("(current)")</span></a></li>
        </ol>
    </nav>
$var Navbar: $:NavbarF()

<h2>$:_("Submissions")</h2>

<script>
    $$(function() {
        $$('#date_before_picker').datetimepicker({locale: '$user_manager.session_language()', sideBySide: true, format:'YYYY-MM-DD HH:mm:ss'});
        $$('#date_after_picker').datetimepicker({locale: '$user_manager.session_language()', sideBySide: true, format:'YYYY-MM-DD HH:mm:ss'});

        $$('#panel-user-audience').find('a[data-toggle="tab"]').on('shown.bs.tab', function(e)
        {
            if($$(e.target).attr('href') == "#audience_filter")  $$('input[type="checkbox"]', $$('#user_filter')).prop('checked', false).change()
            else $$('input[type="checkbox"]', $$('#audience_filter')).prop('checked', false).change();
        });

    });
</script>

<!-- Query submissions -->
<div class="card mb-3">
    <div class="card-header">
        $:_("Query submissions")
    </div>

    <div class="card-body">
        <form id="select_form" method="post" action="new_submissions#alerts">
            <!-- Users -->
            $ show_audiences = not old_params["users"] and old_params["audiences"]
            <div id="panel-user-audience" class="card mb-3">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link $('active' if not show_audiences else '')" href="#user_filter" aria-controls="user_filter"
                               role="tab" data-toggle="tab">$:_("Select students")</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a class="nav-link $('active' if show_audiences else '')" href="#audience_filter" aria-controls="audience_filter"
                               role="tab" data-toggle="tab">$:_('Select audiences')</a>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="ml-3 btn btn-primary btn-xs" onclick="download_page_select_active(true, this)">$:_("Select all")</button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select_active(false, this)">$:_("Deselect all")</button>
                        </li>
                        $if len(tutored_users) != 0 or len(tutored_audiences) != 0:
                            <li class="nav-item">
                                <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select_tutored(this)">Tutored only</button>
                            </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane $('active' if not show_audiences else '')" id="user_filter">
                        $if len(users) == 0:
                            <div class="alert alert-warning">$:_("No user to display")</div>
                        $else:
                            <ul class="list-group list-group-flush checked-list-box">
                                $for userid, username in users.items():
                                    <li class="list-group-item" data-class="$('tutored' if userid in tutored_users else '')"
                                        data-checked="$('true' if userid in old_params['users'] and not show_audiences else 'false')"
                                        data-value="$userid" data-name="users">$username ($userid)</li>
                            </ul>
                    </div>

                    <div role="tabpanel" class="tab-pane $('active' if show_audiences else '')" id="audience_filter">
                        $if len(audiences) == 0:
                            <div class="alert alert-warning">$:_('No audience to display')</div>
                        $else:
                            <ul class="list-group list-group-flush checked-list-box">
                                $for audience in audiences:
                                    <li class="list-group-item" data-value="$audience['_id']" data-name="audiences"
                                        data-class="$('tutored' if str(audience['_id']) in tutored_audiences else '')"
                                        data-checked="$('true' if str(audience['_id']) in old_params['audiences'] and show_audiences else 'false')">
                                        $audience['description']
                                    </li>
                            </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Tasks -->
                <div class="col-sm-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <span class="nav-link active" href="#" role="tab" data-toggle="tab">$:_("Select tasks")</span>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="ml-3 btn btn-primary btn-xs" onclick="download_page_select(true, this)">$:_("Select all")</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select(false, this)">$:_("Deselect all")</button>
                            </li>
                        </ul>

                    </div>
                    <ul class="list-group list-group-flush checked-list-box">
                        $for taskid, task in tasks.items():
                            <li class="list-group-item" data-value="$taskid" data-name="tasks" data-checked="$('true' if taskid in old_params['tasks'] else 'false')"
                            >$task.get_name(user_manager.session_language())</li>
                    </ul>
                </div>
                </div>

                <!-- Organisational Tags -->
                <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item">
                                <span class="nav-link active" href="#" role="tab" data-toggle="tab">$:_("Select tags")</span>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="ml-3 btn btn-primary btn-xs" onclick="download_page_select(true, this)">$:_("Select all")</button>
                            </li>
                            <li class="nav-item">
                                <button type="button" class="btn btn-primary btn-xs" onclick="download_page_select(false, this)">$:_("Deselect all")</button>
                            </li>
                        </ul>

                    </div>
                    <ul class="list-group list-group-flush checked-list-box">
                        $for key, t in course.get_tags().items():
                            $if t.get_type() == 2:
                                <li class="list-group-item" data-value="$key" data-name="org_tags" data-checked="$('true' if key in old_params['org_tags'] else 'false')"
                                >$:_(t.get_name(user_manager.session_language()))</li>
                    </ul>
                </div>
                </div>
            </div>

            <!-- Advanced query -->
            <div class="row">
                <div class="col-sm-12 form-group">
                    <div class="card section">
                        <div class="card-header" onclick="dropdown(this)">
                            <span class="title"> $:_("Advanced query") </span>
                            <span style="font-size: 1.5rem;" class="dropdown_button fa fa-caret-left close"> </span>
                        </div>
                        <div class="content card-body" style="display: none">
                            <!-- Checkboxs -->
                            $ list_checkboxes = [("eval", _("Only evaluation submissions")),
                            $                    ("crashes_only", _("Only timeouts and crashes")),
                            $                    ("show_tags", _("Show tags")),
                            $                    ("show_id", _("Show submission id")),
                            $                    ("show_task_name", _("Show task name")),
                            $                    ("show_stud_name", _("Show student name"))]
                            <div class="col-xs-12 form-group">
                                $for c in list_checkboxes:
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label"></label>
                                        <input name="$c[0]" class="form-check-input" type="checkbox" $('checked' if c[0] in old_params else '')> $c[1]
                                    </div>
                            </div>

                            <!-- Grade -->
                            <div class="col-xs-4 form-group row">
                                <div class="col-xs-12 col-sm-6">
                                    <label class="col-xs-12">$:_("Min grade")</label>
                                    <input name="grade_min" class="form-control" type="number" id="select_grade_min" placeholder="0" value="$old_params.get('grade_min', '')"/>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label class="col-xs-12">$:_("Max grade")</label>
                                    <input name="grade_max" class="form-control" type="number" id="select_grade_max" placeholder="100" value="$old_params.get('grade_max', '')"/>
                                </div>
                            </div>
                            <!-- Date -->
                            <div class="col-xs-8 form-group row">
                                <div class="col-xs-12 col-sm-6">
                                    <label class="col-xs-12">$:_("After date")</label>
                                    <div class="input-group date" id="date_after_picker" data-target-input="nearest">
                                        <input data-target='#date_after_picker' name="date_after" data-date-format="YYYY-MM-DD HH:mm:ss" value="$old_params.get('date_after', '')" placeholder="2014-06-29 10:00" type='text' class="form-control datetimepicker-input" />
                                        <div class="input-group-append" data-target="#date_after_picker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label class="col-xs-12">$:_("Before date")</label>
                                    <div class="input-group date" id="date_before_picker" data-target-input="nearest">
                                        <input data-target="#date_before_picker" name="date_before" data-date-format="YYYY-MM-DD HH:mm:ss" value="$old_params.get('date_before', '')" placeholder="2014-06-29 10:00" type="text" class="form-control datetimepicker-input">
                                        <div class="input-group-append" data-target="#date_before_picker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Sort by -->
                            <div class="col-xs-12 form-group row">
                                <div class="col-xs-3 col-sm-3">
                                    <label>$:_("Sort by")</label>
                                    <select name="sort_by" class="form-control" id="select_sort_by">
                                    $ allowed_sort = [("submitted_on", _("Submitted on")),
                                    $                 ("username", _("User")),
                                    $                 ("grade", _("Grade")),
                                    $                 ("taskid", _("Task id"))]
                                    $for value, name in allowed_sort:
                                        <option value="$value" $('selected' if old_params.get('sort_by', 'submitted_on') == value else '')>$name</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 col-sm-3">
                                    <label>$:_("Order")</label>
                                    <select name="order" class="form-control" id="select_order">
                                        <option value="0" $('selected' if old_params.get('order', 0) == 0 else '')>$:_("Descending")</option>
                                        <option value="1" $('selected' if old_params.get('order', 0) == 1 else '')>$:_("Ascending")</option>
                                    </select>
                                </div>
                                <div class="col-xs-3 col-sm-3"  title="$:_('Only visual. Download, replay and csv always consider all queried submissions.')" data-toggle="tooltip" data-placement="top">
                                    <label>$:_("Limit") *</label>
                                    <input name="limit" class="form-control" type="number" id="select_limit" value="$old_params.get('limit', '50')"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Validate -->
            <div class="btn-group pull-right mb-2">
                <button type="button" class="btn btn-danger btn-block m-1 p-2 pl-4 pr-4" onclick="window.location.href='$get_homepath()/admin/${course.get_id()}/new_submissions'">
                    <i class="fa fa-undo"></i> $:_("Reset")
                </button>
                <button type="submit" class="btn btn-primary btn-block m-1 p-2 pl-4 pr-4">
                    <i class="fa fa-check"></i> $:_("Filter")
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Alerts -->
<div id="alerts">
    $for msg in msgs:
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        $msg
    </div>
</div>

<!-- Submission table -->
<table class="table">
    <thead class="table-borderless">
        <tr>
            <th></th>
            $if "show_stud_name" in old_params:
                <th>$:_("student name")</th>
            $else:
                <th>$:_("username")</th>
            $if "show_task_name" in old_params:
                <th>$:_("task name")</th>
            $else:
                <th>$:_("taskid")</th>
            $if "show_id" in old_params:
                <th>$:_("id")</th>
            <th>$:_("submitted on")</th>
            <th>$:_("result")</th>
            $if "show_tags" in old_params:
                <th>$:_("tags")</th>
            <th>
                <form method="post" action="new_submissions#alerts">
                    <input type="hidden" name="displayed_selection" value="$displayed_selection">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-info" type="submit" name="csv" formmethod="post" title="$:_('Download CSV')" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-table"></i></button>
                        <div class="btn btn-danger" data-toggle="modal" data-target="#download_modal">
                            <div data-toggle="tooltip" data-placement="top" title="$:_('Download current selection')"><i class="fa fa-download"></i></div>
                        </div>
                        $if is_admin:
                            <button class="btn btn-warning" type="submit" name="replay" formmethod="post" title="$:_('Replay current selection')" data-toggle="tooltip" data-placement="bottom"><i class="fa fa-refresh"></i></button>
                    </div>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
    $for submission in data:
        $ succeeded = "result" in submission and submission["result"] == "success"
        <tr class="$('table-success' if succeeded else 'table-warning' if submission['status'] == 'waiting' else 'table-danger')">
            <td>
                $if "best" in submission and submission["best"]:
                    <i class="fa fa-star" title=$submission["_id"] data-toggle="tooltip" data-placement="bottom"></i>
            </td>
            <td>
                $for user in submission["username"]:
                    $if "show_stud_name" in old_params:
                        $(users[user] if user in users else '?')<br>
                    $else:
                        $user<br>
            </td>
            $if "show_task_name" in old_params:
                <td>$tasks[submission["taskid"]].get_name(user_manager.session_language())</td>
            $else:
                <td>$submission["taskid"]</td>
            $if "show_id" in old_params:
                <td>$submission["_id"]</td>
            <td>$submission["submitted_on"].strftime("%d/%m/%Y %H:%M:%S")</td>
            <td id="status">
                $if succeeded:
                    $:_("Succeeded")
                $elif submission['status'] == 'waiting':
                    $:_("Waiting")
                $else:
                    $:_("Failed")
                ($submission.get("grade",0.0)%)
            </td>

            <!-- TAGS td -->
            $if "show_tags" in old_params:
                <td>
                $ course_tags = course.get_tags()
                $for key in course.get_task(submission['taskid']).get_categories()
                    $ tag = course_tags[key]
                    $if tag.get_type() == 0 :
                        <span style="line-height: 18px;">
                            <span class="badge alert-success" id="$tag.get_id()">$:_(tag.get_name(user_manager.session_language()))</span>
                        </span>
                    $elif tag.get_type() == 1:
                        <span style="line-height: 18px;">
                            <span class="badge alert-danger" id="$tag.get_id()">$:_(tag.get_name(user_manager.session_language()))</span>
                        </span>
                $# Auto-tags not defined in task
                $if "tests" in submission:
                    $for tag in submission["tests"]:
                        $if tag.startswith("*auto-tag-"):
                            <span style="line-height: 18px;">
                                $if len(submission["tests"][tag]) > 30:
                                    <span class="badge alert-default" data-toggle="tooltip" data-placement="left" data-original-title="$submission['tests'][tag]">$submission["tests"][tag][:30]…</span>
                                $else:
                                    <span class="badge alert-default">$submission["tests"][tag]</span>
                            </span>
                </td>
            <!-- END TAGS td -->

            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <a href="$get_homepath()/submission/$submission['_id']"
                       class="btn btn-secondary" title=$:_('"View submission"') data-toggle="tooltip" data-placement="bottom"><i class="fa fa-search"></i></a>
                    <a href="$get_homepath()/admin/${course.get_id()}/new_submissions?download_submission=$submission['_id']" class="btn btn-secondary" title=$:_('"Download submission"') data-toggle="tooltip"
                       data-placement="bottom"><i class="fa fa-download"></i></a>
                    $if is_admin:
                        <a href="#" class="replay btn btn-secondary" title=$:_('"Replay submission"') data-toggle="tooltip" data-submissionid="$submission['_id']"
                           data-placement="bottom"><i class="fa fa-refresh"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>