$def with (course,student_list,tutor_list,users_info,aggregations,msg,error)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: $:_("Edit teams")

$def ColumnF():
    $:template_helper.call('course_admin_menu',course=course,current='aggregations')
$var Column: $:ColumnF()

$def NavbarF():
    <ol class="nav navbar-nav nav-breadcrumb">
        <li><a href="$get_homepath()/course/$course.get_id()">$course.get_name(user_manager.session_language())</a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()" title=$:_('"Administration"') data-toggle="tooltip" data-placement="bottom">
            <i class="fa fa-user-secret"></i></a></li>
        <li><a href="$get_homepath()/admin/$course.get_id()/aggregations" title=$:_('"Teams"') data-toggle="tooltip" data-placement="bottom">
            <i class='fa fa-users'></i></a></li>
        <li class="active"><a href="#">$:_("Edit teams") <span class="sr-only">$:_("(current)")</span></a></li>
    </ol>
$var Navbar: $:NavbarF()

<h2>$:_("Edit teams")</h2>
$if error:
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        $:msg
    </div>
$elif msg:
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        $:msg
    </div>

<!-- Modal -->
<div id="student_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">$:_("Add student")</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="student_add();return false;">
                    <div id="tab_new_student" role="tabpanel" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" for="new_student">$:_("Student username (will be registered) :")</label>
                            </div>
                            <div class="col-md-6">
                                <input id="new_student" name="new_student" type="text" class="form-control" placeholder="$:_('Student username')">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">$:_("Cancel")</button>
                <button type="button" class="btn btn-primary" onclick="javascript:student_add()">$:_("Add student")</button>
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data" class="form-horizontal">
    <input type="hidden" id="classrooms" name="classrooms" value="false" />
    <div id="groups" class='list-group'>
        <div class="panel panel-warning group">
            <div class="panel-heading clearfix" role="tab">
                <h4 class="panel-title">
                    $:_("Non teamed students")
                    <a class="pull-right" id="group_delete" href="#" data-toggle="modal" data-target="#student_modal">
                        <i class="fa fa-plus"></i>
                    </a>
                </h4>
            </div>
            <input id="size" type="hidden" class="form-control" value="0">
            <ul id="group_0" style="list-style-type: none;" class="students list-group">
                $for username, student in student_list.items():
                    $if not student["grouped"]:
                        <li data-username="$username" class="list-group-item group-entry">
                            $if users_info[username] is not None:
                                <span id="$username']"><i class="fa fa-arrows"></i> $users_info[username][0] ($username)</span>
                            $else:
                                <span id="$username']"><i class="fa fa-arrows"></i> $username</span>
                        </li>
            </ul>
        </div>


        $for index,aggregation in enumerate((aggregations + [None])):
                $if (aggregation is None) or (len(aggregation["groups"])==0):
                    <div id="$(index+1)" style="display:none;" class="panel panel-default group-panel">
                        <div class="panel-heading clearfix" role="tab">
                        <h4 class="panel-title">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <input type="text" style="height: 22px; padding: 2px 5px; font-size: 12px; line-height: 1.5;" class="form-control" id="description" name="description" placeholder="$:_('Team description')" value="$:_('New team')">
                                </div>
                                <div class="col-sm-2 col-xs-3" style="text-align: right;">
                                    <label>$:_("Max team size :")</label>
                                </div>
                                <div class="col-sm-3 col-xs-7">
                                    <input style="height: 22px; padding: 2px 5px; font-size: 12px; line-height: 1.5;" id="size" type="number" class="form-control" value="2">
                                </div>
                                <div class="col-sm-1 col-xs-2">
                                    <a class="pull-right" id="group_delete" href="#" onclick="javascript:group_delete($$(this).rparent(5).attr('id'))" data-toggle="tooltip" title=$:_('"Delete team"')>
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>
                            </div>
                        </h4>
                    </div>
                $else:
                    $ group = aggregation["groups"][0]
                    <div id="$(index+1)" class="panel panel-default group-panel group">
                        <input type="hidden" id="_id" name="_id" value="$aggregation['_id']" />
                        <div class="panel-heading clearfix" role="tab">
                            <h4 class="panel-title">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <input type="text" style="height: 22px; padding: 2px 5px; font-size: 12px; line-height: 1.5;" class="form-control" id="description" name="description" placeholder="$:_('Team description')" value="$aggregation['description']">
                                    </div>
                                    <div class="col-sm-2 col-xs-3" style="text-align: right;">
                                        <label>$:_("Max team size :")</label>
                                    </div>
                                    <div class="col-sm-3 col-xs-7">
                                        <input style="height: 22px; padding: 2px 5px; font-size: 12px; line-height: 1.5;" id="size" type="number" class="form-control" value="$(group['size'] if group is not None else 2)">
                                    </div>
                                    <div class="col-sm-1 col-xs-2">
                                        <a class="pull-right" id="group_delete" href="#" onclick="javascript:aggregation_delete($$(this).rparent(5).attr('id'))" data-toggle="tooltip" title=$:_('"Delete team"')>
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                </div>
                            </h4>
                        </div>

                <div class="panel-heading clearfix" role="tab">
                    <h4 class="panel-title">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                $:_("Tutors")
                            </div>
                            <div class="col-sm-4 col-xs-6" style="text-align: center">
                                <select type="text" style="height: 22px; padding: 2px 5px; font-size: 12px; line-height: 1.5;" class="form-control input-xs" id="tutor_list_$(index+1)" name="tutor_list_$index">
                                    $for tutor in tutor_list:
                                        $if not aggregation or tutor not in aggregation["tutors"]:
                                            $if users_info[tutor] is not None:
                                                <option value="$tutor">$users_info[tutor][0] ($tutor)</option>
                                            $else:
                                                <option value="$tutor">$tutor</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-xs-6">
                                <button type="button" style="height: 22px; padding: 2px 5px; font-size: 12px; line-height: 1.5;" onclick="javascript:tutor_add($$('#tutor_list_$(index+1)').val(), $$('#tutor_list_$(index+1) option:selected').text(), $(index+1))" class="form-control btn btn-xs btn-warning"><span class="fa fa-plus"></span> $:_("Add tutor")</button>
                            </div>
                        </div>
                    </h4>
                </div>

                $if aggregation and (len(aggregation["groups"])!=0):
                    $ group = aggregation["groups"][0]
                    <ul class="list-group" id="tutors_$(index+1)">
                    $for user in (aggregation["tutors"] + [None]):
                            $if user is None:
                                <li class="list-group-item" style="display:none;">
                                    <span></span>
                            $else:
                                <li class="list-group-item tutor" id="$user">
                                    <span>$user ($user_manager.get_user_realname(user))</span>
                                    <input type="hidden" name="tutors" value="$user">

                            <div class="pull-right"><a href="#" onclick="javascript:tutor_remove($$(this).rparent(2).attr('id'), $(index+1))"><i class="fa fa-trash-o fa-lg"></i></a></div>
                        </li>
                    </ul>
                $else:
                    <ul class="list-group" id="tutors_$(index+1)">
                        <li class="list-group-item" style="display:none;">
                            <span></span>
                            <div class="pull-right"><a href="#" onclick="javascript:tutor_remove($$(this).rparent(2).attr('id'), $(index+1))"><i class="fa fa-trash-o fa-lg"></i></a></div>
                        </li>
                    </ul>


                <div class="panel-heading clearfix" role="tab">
                    <h4 class="panel-title">$:_("Students")</h4>
                </div>

                $if aggregation and (len(aggregation["groups"])!=0):
                    $ group = aggregation["groups"][0]
                    <ul id="students" style="list-style-type: none; padding:0;" class="list-group students">
                        $if group is not None:
                            $for student in group["students"]:
                                <li data-username="$student" class="list-group-item group-entry">
                                    $if users_info[student] is not None:
                                        <span id="$student"><i class="fa fa-arrows"></i> $users_info[student][0] ($student)</span>
                                    $else:
                                        <span id="$student"><i class="fa fa-arrows"></i>$student</span>
                                </li>
                    </ul>
                $else:
                    <ul style="list-style-type: none; padding:0;" class="list-group students"></ul>
            </div>

        <div class="row">
            <div class="col-md-4">
                    <a href="#group_add" onclick="javascript:aggregation_add()" id="group_add" class="btn btn-block btn-default">
                        <i class="fa fa-plus fa-lg"></i> $:_("New team")
                    </a>
            </div>
            <div class="col-md-4">
                    <a href="#" onclick="javascript:aggregations_clean()" class="btn btn-block btn-warning">
                        <i class="fa fa-eraser fa-lg"></i> $:_("Clean teams")
                    </a>
            </div>
            <div class="col-md-4">
                    <a href="#" onclick="javascript:aggregations_delete()" class="btn btn-block btn-danger">
                        <i class="fa fa-trash fa-lg"></i> $:_("Delete all teams")
                    </a>
            </div>
        </div>
    </div>
    <button name="update" class="btn btn-primary btn-block" onclick="javascript:aggregations_prepare_submit()" type="submit"><i class="fa fa-floppy-o"></i> $:_("Update")</button>
</form>

<!-- Javascript for managing student/tutor lists -->
<script type="text/javascript">
$$(document).ready(function() {
    if(!$$("#tutor_list").val())
        $$("#tutor_list").prop("disabled", true);

    $$("ul.students").sortable({group:"students"});
    $$("ul.students").bind("DOMSubtreeModified", function() {aggregation_update($$(this).parent())});
    $$("input[id='size']").on('keyup click',function() {aggregation_update($$(this).rparent(5))});
});
</script>
