$def with (course,url, username, apikey)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

$var title: Webdav access | $:course.get_name(user_manager.session_language())

$var Column: $:template_helper.call('course_admin_menu',course=course,current='webdav')
$ is_admin = user_manager.has_admin_rights_on_course(course)

$def NavbarF():
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="$get_homepath()/course/$course.get_id()">$course.get_name(user_manager.session_language())</a></li>
            <li class="breadcrumb-item"><a href="$get_homepath()/admin/$course.get_id()" title=$:_('"Administration"') data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-user-secret"></i></a></li>
            <li class="breadcrumb-item active"><a href="#"><i class="fa fa-folder-open"></i> $:_("WebDAV") <span class="sr-only">$:_("(current)")</span></a></li>
        </ol>
    </nav>
$var Navbar: $:NavbarF()

<h2>$:_("WebDAV access")</h2>
$:_("Use this URL to access your course folder using WebDav:")<br/>
<br/>
<table class="table">
    <tr><td>$:_("URL")</td><td><code>$url</code></td></tr>
    <tr><td>$:_("Username")</td><td><code>$username</code></td></tr>
    <tr><td>$:_("Password")</td><td><code>$apikey</code></td></tr>
</table>

