$def with (course,task_data)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<div class="form-group">
    <table class="table" id="table">
    <thead>
        <tr>
            <th class="col-sm-2">$:_("Id")</th>
            <th class="col-sm-2">$:_("Name")</th>
            <th class="col-sm-6">$:_("Description")</th>
            <th class="col-sm-1">$:_("Show to students")</th>
            <th class="col-sm-1">$:_("Type")</th>

        </tr>
    </thead>
    <tbody>
    $ i=-1
    $for tag in task_data.get('tags', {}):
        $ i=i+1
        $ id = task_data.get('tags')[tag]["id"] if "id" in task_data.get('tags')[tag] else "unknow_id"
        $ name = task_data.get('tags')[tag]["name"] if "name" in task_data.get('tags')[tag] else "Unknow name"
        $ description = task_data.get('tags')[tag]["description"] if "description" in task_data.get('tags')[tag] else ""
        $ type = task_data.get('tags')[tag]["type"] if "type" in task_data.get('tags')[tag] else 0
        $ visible = task_data.get('tags')[tag]["visible"] if "visible" in task_data.get('tags')[tag] else False
        <tr id="$i">
            $# TODO, add translations in value fields.
            <td><input type="text" id="id_$i" class="form-control" name="tags[$i][id]" value="$id" $('disabled' if type == 2 else '')/></td>
            <td><input type="text" class="form-control" name="tags[$i][name]" value="$name"/></td>
            <td><textarea class="form-control" name="tags[$i][description]" rows="3" style="resize:none">$description</textarea></td>
            <td><input type="checkbox" class="form-control" name="tags[$i][visible]" $('checked="checked"' if visible else '')/></td>
            <td>
                <label class="radio"><input type="radio" onclick="enable_id_field($i)" value=0 name="tags[$i][type]" checked="checked">$:_("Common")</label>
                <label class="radio"><input type="radio" onclick="enable_id_field($i)" value=1 name="tags[$i][type]" $('checked="checked"' if int(type) == 1 else '')>$:_("Antitag")</label>
                <label class="radio"><input type="radio" onclick="disable_id_field($i)" value=2 name="tags[$i][type]" $('checked="checked"' if int(type) == 2 else '')>$:_("Organisational")</label>
            </td>
        </tr>
    </tbody>
    </table>
    <button type="button" class="btn btn-success pull-right" onclick="add_tag_line()"><i class="fa fa-plus fa-lg"></i>$:_(" New tag")</button>
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#help_tag_modal">
        <i class="fa fa-info"></i> $:_("Tag Help")
    </button>
</div>

<div id="help_tag_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">$:_("Tag help")</h4>
                </div>
                <div class="modal-body">
                    <h4>1) $:_("Types of tags")</h4>
                    <p>- $:_("<b>Common</b> tag appear in blue by default and swap to green when the tag is activated. We can perform tasks search on these tag.")</p>
                    <p>- $:_("<b>Antitags</b> do not appear until they are activated. They appear in red when activated. We can NOT perform tasks search on these tag. These tags are useful to highlight errors or misconceptions.")</p>
                    <p>- $:_("<b>Organisational tags</b> never appear. Only used for organisation and when we perform tasks search.")</p>
                    
                    <h4>2) $:_("Utilisation")</h4>
                    <p>- $:_("Use the API function <tt>feedback.set_tag('your_id', True)</tt>, to activate common and antitags.")</p>
                    <p>- $:_("The id field must be unique among all tags defined in this task.")</p>
                    <p>- $:_("To remove a tag, erase its name field.")</p>
                    <p>- $:_("Organisational tags do not need id.")</p>
                    <p>- $:_("You can only activate tags defined here except if you use the API function <tt>feedback.tag(str)</tt> to generate tags at runtime. These tags wil appear in dark blue and are only visible for admins/tutors.")</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">$:_("Ok")</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function disable_id_field(line) {
    $$("#id_"+line).prop('disabled', true);
}
function enable_id_field(line) {
    $$("#id_"+line).prop('disabled', false);
}
</script>

<script>
function add_tag_line() {
    var last_id = 1 + parseInt($$('#table tr:last').attr('id'));
    if (isNaN(last_id))
        last_id = 0
    var new_row = '\
        <tr id='+ last_id +'> \
            <td><input type="text" id="id_'+ last_id +'" class="form-control" name="tags['+ last_id +'][id]"/></td> \
            <td><input type="text" class="form-control" name="tags['+ last_id +'][name]"/></td> \
            <td><textarea class="form-control" name="tags['+ last_id +'][description]" rows="3" style="resize:none"></textarea></td> \
            <td><input type="checkbox" class="form-control" name="tags['+ last_id +'][visible]"/></td> \
            <td> \
                <label class="radio"><input type="radio" onclick="enable_id_field('+ last_id +')" value=0 name="tags['+ last_id +'][type]" checked="checked">$:_("Common")</label> \
                <label class="radio"><input type="radio" onclick="enable_id_field('+ last_id +')" value=1 name="tags['+ last_id +'][type]">$:_("Antitag")</label> \
                <label class="radio"><input type="radio" onclick="disable_id_field('+ last_id +')" value=2 name="tags['+ last_id +'][type]">$:_("Organisational")</label> \
            </td> \
        </tr>'
    $$('#table').find('tbody').append(new_row);
}
</script>