$def with (course,task_data)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">$:_("Tag editor")</a></li>
    <li><a data-toggle="tab" href="#menu1">$:_("Import tags")</a></li>
</ul>

<!-- Menu Tag Editor -->
<div class="tab-content">
<div id="home" class="tab-pane fade in active">

<div class="form-group">
    <table class="table-striped" id="table">
    <thead>
        <tr>
            <th class="col-sm-2">$:_("Id")</th>
            <th class="col-sm-3">$:_("Name")</th>
            <th class="col-sm-4">$:_("Description")</th>
            <th class="col-sm-1">$:_("Show to students")</th>
            <th class="col-sm-2">$:_("Type ")</th>
        </tr>
    </thead>
    <tbody>
    $ i=-1
    $for tag in task_data.get('tags', {}):
        $ i=i+1
        $ id = task_data.get('tags')[tag]["id"] if "id" in task_data.get('tags')[tag] else "unknow_id"
        $ name = task_data.get('tags')[tag]["name"] if "name" in task_data.get('tags')[tag] else "Unknow name"
        $ description = task_data.get('tags')[tag]["description"] if "description" in task_data.get('tags')[tag] else ""
        $ type = task_data.get('tags')[tag]["type"] if "type" in task_data.get('tags')[tag] else 0
        $ visible = task_data.get('tags')[tag]["visible"] if "visible" in task_data.get('tags')[tag] else False
        <tr id="$i">
            $# TODO, add translations in value fields.
            <td><input type="text" id="id_$i" class="form-control" name="tags[$i][id]" value="$('' if id == '' else _(id))" $('disabled' if type == 2 else '')/></td>
            <td><input type="text" class="form-control" name="tags[$i][name]" value="$('' if name == '' else _(name))"/></td>
            <td><textarea class="form-control" onfocus="expand(this);" onblur="expand_not(this);" name="tags[$i][description]" rows="1" style="resize:none">$('' if description == '' else _(description))</textarea></td>
            <td><input type="checkbox" class="form-control" name="tags[$i][visible]" $('checked="checked"' if visible else '')/></td>
            <td>
                <select class="form-control" name="tags[$i][type]" onchange="change_id_field(this, $i)">
                    <option value="0" $('selected="selected"' if int(type) == 0 else '')>$:_("Common")</option>
                    <option value="1" $('selected="selected"' if int(type) == 1 else '')>$:_("Antitag")</option>
                    <option value="2" $('selected="selected"' if int(type) == 2 else '')>$:_("Organisation")</option>
                </select>
            </td>
        </tr>
    </tbody>
    </table>
    <button type="button" class="btn btn-success pull-right" onclick="add_tag_line()"><i class="fa fa-plus fa-lg"></i>$:_(" New tag")</button>
</div>

</div>
<!-- Menu Tag Editor END-->
<!-- Menu Import tag -->
<div id="menu1" class="tab-pane fade">
<table class="table-striped table-responsive" id="table">
    <thead>
        <tr>
            <th class="col-sm-2">$:_("Id")</th>
            <th class="col-sm-2">$:_("Name")</th>
            <th class="col-sm-7">$:_("Description")</th>
            <th class="col-sm-0">$:_("Show to students")</th>
            <th class="col-sm-1">$:_("Type")</th>
            <th class="col-sm-0">$:_("Import")</th>
        </tr>
    </thead>
    <tbody>
    $ i = -1
    $for list_index in course.get_all_tags(): 
        $for t in list_index:
            $ i += 1
            <tr>
                <td id="A-$i" style="padding:4px">$t.get_id()</td>
                <td id="B-$i" style="padding:4px">$t.get_name()</td>
                <td id="C-$i" style="padding:4px">$t.get_description()</td>
                <td id="D-$i" style="padding:4px">$t.is_visible_for_student()</td>
                <td id="E-$i" style="padding:4px" data-type="$t.get_type()" >$t.get_type_as_str()</td>
                <td><button type="button" onclick="add_tag_line($i)" class="btn btn-primary btn-xs"><i class="fa fa-arrow-down" aria-hidden="true"></i></button></td>
            </tr>
    </tbody>
</table>

</div>
</div>
<!-- Menu Import tag END-->
    
<script>
function change_id_field(type, line) {
    if(type.value == 2){    
        $$("#id_"+line).prop('disabled', true);
    }else{
        $$("#id_"+line).prop('disabled', false);
    }
}
function expand(elem){
    elem.rows = 5;
}
function expand_not(elem){
    elem.rows = 1;
}
function add_tag_line(line=-1) {    
    var id = $$('#A-'+line).text();
    var name = $$('#B-'+line).text();
    var descr = $$('#C-'+line).text();
    var visibility = $$('#D-'+line).text();
    var type = $$('#E-'+line).attr("data-type");

    if (visibility == "True"){
        visibility = "checked";
    }
    var checked0 = '';
    var checked1 = '';
    var checked2 = '';
    var disable_id = '';
    if(type == "2"){
        checked2 = 'selected="selected"';
        disable_id = ' disabled '
    }
    else if(type == "1"){
        checked1 = 'selected="selected"';
    }
    else{
        checked0 = 'selected="selected"';
    }
    var new_id = 1 + parseInt($$('#table tr:last').attr('id'));
    if (isNaN(new_id))
        new_id = 0
    var new_row = '\
        <tr id='+ new_id +'> \
            <td><input type="text" '+disable_id+'id="id_'+ new_id +'" class="form-control" name="tags['+ new_id +'][id]" value="'+id+'"/></td> \
            <td><input type="text" class="form-control" name="tags['+ new_id +'][name]" value="'+name+'"/></td> \
            <td><textarea class="form-control" name="tags['+ new_id +'][description]" onfocus="expand(this);" onblur="expand_not(this);" rows="1" style="resize:none">'+descr+'</textarea></td> \
            <td><input type="checkbox" class="form-control" name="tags['+ new_id +'][visible]" '+visibility+'/></td> \
            <td> \
                <select class="form-control" name="tags['+ new_id +'][type]" onchange="change_id_field(this, '+ new_id +')"> \
                    <option value="0" '+checked0+'>$:_("Common")</option> \
                    <option value="1" '+checked1+'>$:_("Antitag")</option> \
                    <option value="2" '+checked2+'>$:_("Organisation")</option> \
                </select> \
            </td> \
        </tr>'
    $$('#table').find('tbody').append(new_row);
}
</script>