$def with (course,username,data)
$ userData= UserData(username).get_data()
$var title: $:userData["realname"] - $:course.get_name()


<ol class="breadcrumb">
  <li><a href="/index">Home</a></li>
  <li><a href="/course/$course.get_id()">$course.get_name()</a></li>
  <li><a href="/admin/$course.get_id()">Manage</a></li>
  <li><a href="/admin/$course.get_id()/students">Students</a></li>
  <li class="active">Student - $userData["realname"]</li>
</ol>
<h2>Statistics for student $userData["realname"] ($username)</h2>
<table class="table">
    <tr>
        <th>task</th>
        <th>status</th>
        <th># submissions</th>
        <th>
            <a href="javascript:ask_to_download('/admin/${course.get_id()}?dl=student&username=$username')" class="btn btn-danger btn-xs">Download all submissions</a>
            <a href="/admin/${course.get_id()}/student/${username}?csv" class="btn btn-info btn-xs">CSV</a>
        </th>
    </tr>
    $for taskid in data:
    	<tr
            $if data[taskid]["status"] == "notattempted":
                class="warning"
            $elif data[taskid]["status"] == "succeeded":
                class="success"
            $elif data[taskid]["status"] == "failed":
                class="danger"
        >
    		<td><a href="/admin/${course.get_id()}?dl=student_task&username=${username}&task=${taskid}">$data[taskid]["name"]</a></td>
    		<td>
                $if data[taskid]["status"] == "notviewed":
                    Not viewed
                $elif data[taskid]["status"] == "notattempted":
                    Not attempted (viewed)
                $elif data[taskid]["status"] == "succeeded":
                    Succeeded
                $else:
                    Failed
            </td>
            <td>$data[taskid]["submissions"]</td>
    		<td>
    			<a href="/admin/${course.get_id()}/student/$username/$taskid" class="btn btn-default btn-xs">View submissions</a>
    			<a href="javascript:ask_to_download('$data[taskid]['url']')" class="btn btn-default btn-xs">Download submissions</a>
    		</td>
    	</tr>
</table>