$def with (course,data,errors)
$var title: $:course.getName()

<ol class="breadcrumb">
  <li><a href="/index">Home</a></li>
  <li><a href="/course/$course.getId()">$course.getName()</a></li>
  <li><a href="/admin/$course.getId()">Manage</a></li>
  <li class="active">Tasks</li>
</ol>
<h2>Stats for tasks of course $course.getName()</h2>
<h4><a href="/admin/${course.getId()}">Student view</a></h4>
<table class="table">
    <tr>
        <th>task name</th>
        <th># student viewed</th>
        <th># student attempted</th>
        <th># student succeeded</th>
        <th># attempts</th>
        <th>
        	<a href="/admin/${course.getId()}?dl=course" class="btn btn-danger btn-xs">Download all submissions</a>
            <a href="/admin/${course.getId()}/tasks?csv" class="btn btn-info btn-xs">CSV</a>
        </th>
    </tr>
    $for taskId in data:
    	<tr>
    		<td>
    			<a href="/admin/${course.getId()}/task/$taskId">$data[taskId]["name"]</a>
    		</td>
    		<td>$data[taskId]["viewed"]</td>
    		<td>$data[taskId]["attempted"]</td>
            <td>$data[taskId]["succeeded"]</td>
            <td>$data[taskId]["attempts"]</td>
    		<td>
    			<a href="/admin/${course.getId()}/task/$taskId" class="btn btn-default btn-xs">View student list</a>
    			<a href="$data[taskId]['url']" class="btn btn-default btn-xs">Download submissions</a>
    		</td>
    	</tr>
</table>
$if len(errors) != 0:
    <h3>Errors while loading tasks</h3>
    <table class="table">
        <tr>
            <th>task id</th>
            <th>error</th>
        </tr>
        $for task in errors:
            <tr>
                <td>$task['taskId']</td>
                <td><pre>$task['error']</pre></td>
            </tr>
    </table>