$def with (course,stats)
$var title: $:course.getName()

<table class="table">
    <tr>
        <th></th>
        <th>student username</th>
        <th># task tried</th>
        <th># task done</th>
        <th>progression</th>
        <th>submissions</th>
    </tr>
    $for student in stats["students"]:
        <tr data-toggle="collapse" data-target="#student-$student">
            <td></td>
            <td>
                $if stats["students"][student]["name"] != None and stats["students"][student]["email"] != None:
                    <a href="mailto:$stats["students"][student]["email"]">$stats["students"][student]["name"] ($student)</a>
                $else:
                    $student
            </td>
            <td>$stats["students"][student]["task_tried"]</td>
            <td>$stats["students"][student]["task_done"]</td>
            <td>
                <div class="progress">
                    $ percentage=int(stats["students"][student]["task_done"]*100/len(stats["students"][student]["tasks"]))
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="$percentage" aria-valuemin="0" aria-valuemax="100" style="width: $percentage%">
                        <span>$percentage%</span>
                    </div>
                </div>
            </td>
            <td>
                <a href="/admin/${course.getId()}?dl=student&username=$student" class="btn btn-default btn-xs">Download</a>
            </td>
        </tr>
        <tr>
            <td colspan="6" class="td-collapse">
                <div id="student-$student" class="collapse">
                    <table class="table table-condensed">
                        <tr>
                            <th></th>
                            <th>task</th>
                            <th>status</th>
                            <th># submissions</th>
                            <th>submissions</th>
                        </tr>
                        $for taskId in stats["students"][student]["tasks"]:
                            $ task=stats["students"][student]["tasks"][taskId]
                            <tr
                                $if task["status"] == "succeeded":
                                    class="success"
                                $elif task["status"] == "failed":
                                    class="danger"
                                data-toggle="collapse" data-target="#student-$student-task-$taskId"
                            >
                                <td></td>
                                <td><a href="/course/$course.getId()/$taskId">$task["name"]</a></td>
                                <td>
                                    $if task["status"] == "succeeded":
                                        Succeeded
                                    $elif task["status"] == "failed":
                                        Failed
                                    $else:
                                        Not attempted
                                </td>
                                <td>${len(task['submissions'])}</td>
                                <td><a href="/admin/${course.getId()}?dl=student_task&username=${student}&task=${taskId}" class="btn btn-default btn-xs">Download</a></td>
                            </tr>
                            <tr>
                                <td colspan="6" class="td-collapse">
                                    <div id="student-$student-task-$taskId" class="collapse">
                                        <table class="table table-condensed">
                                            <tr>
                                                <th>submission id</th>
                                                <th>status</th>
                                                <th>date</th>
                                                <th></th>
                                            </tr>
                                            $for submission in task["submissions"]:
                                                <tr
                                                    $if submission["status"] == "succeeded":
                                                        class="success"
                                                    $elif submission["status"] == "failed":
                                                        class="danger"
                                                >
                                                    <td>$submission["id"]</td>
                                                    <td>
                                                        $if submission["status"] == "succeeded":
                                                            Succeeded
                                                        $else:
                                                            Failed
                                                    </td>
                                                    <td>$submission["submittedOn"]</td>
                                                    <td><a href="/admin/${course.getId()}?dl=submission&id=${submission['id']}" class="btn btn-default btn-xs">Download</a></td>
                                                </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                    </table>
                </div>
            </td>
        </tr>
</table>