$def with (course)
$var title: $:course.getName()

$# Left column content
$def leftColF():
    <h3>Progress</h3>
    <div class="progress">
        $ completion=course.getUserCompletionPercentage()
        <div class="progress-bar progress-bar-success" aria-valuenow="$completion" aria-valuemin="0" aria-valuemax="100" style="width: $completion%">
            $completion%
        </div>
    </div>
    <h3>Last submissions</h3>
    
    <div class="list-group">
        $ submissions=course.getUserLastSubmissions()
        $if submissions:
            $for submission in submissions:
                <a class="list-group-item 
                    $if submission['status'] == 'done' and submission['result'] == 'success':
                        list-group-item-success
                    $elif submission['status'] == 'done' and submission['result'] == 'save':
                        list-group-item-info
                    $elif submission['status'] == 'waiting':
                        list-group-item-warning
                    $else:
                        list-group-item-danger
                    "
                    href="/course/$submission['courseId']/$submission['taskId']">
                    $Task(submission['courseId'],submission['taskId']).getName()
                </a>
        $else:
            <a class="list-group-item disabled submission-empty">No submissions</a>
    </div>
$var leftCol: $:leftColF()

$# Start content
<ol class="breadcrumb">
  <li><a href="/index">Home</a></li>
  <li class="active">$course.getName()</li>
</ol>
<h2>$course.getName() - List of exercices</h2>
<div class="list-group">
    $for exId, exData in course.getTasks().iteritems()
        <a href="/course/$course.getId()/$exId" class="list-group-item 
            $ status=exData.getUserStatus()
            $if status == 'failed':
                list-group-item-danger
            $elif status == 'succeeded':
                list-group-item-success
            ">
            $exData.getName()
        </a>
</div>