$def with (error)
$var title: Connexion

$# Left column content
$def ColumnF(error):
    $if error:
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Invalid login/password
        </div>
    
    <ul class="nav nav-tabs nav-justified" role="tablist">
        $for authid, auth_method in enumerate(PluginManager.get_all_authentication_methods()):
            <li 
                $if authid == 0:
                    class="active"
            ><a href="#login-$authid" role="tab" data-toggle="tab">$auth_method["name"]</a></li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
        $for authid, auth_method in enumerate(PluginManager.get_all_authentication_methods()):
            <div class="tab-pane fade
                $if authid == 0:
                    in active
                " id="login-$authid">
                <p>
                    <form role="form" action="/index" method="post">
                        <input type="hidden" name="@authid" value="$authid"/>
                        $for name, data in auth_method["input"].iteritems():
                            $if data["type"] == "password":
                                $ type="password"
                            $else:
                                $ type="text"
                            <div class="form-group">
                                <label>$data["placeholder"]</label> <input type="$type" class="form-control" name="$name" placeholder="$data['placeholder']">
                            </div>
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </form>
                </p>
            </div>
    </div>
$var Column: $:ColumnF(error)

$# Start content
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque iaculis mattis volutpat. Etiam non semper nisl, in molestie libero. Nullam condimentum est sapien, at venenatis urna congue et. Morbi eu quam ac est mollis euismod. Vestibulum elit mauris, ornare non justo ut, tempus vulputate tortor. Cras odio diam, accumsan non turpis nec, condimentum tincidunt nibh. Vivamus lobortis imperdiet mauris, sed fringilla libero semper vel.<br/>
<br/>
Sed tempus risus ut leo elementum iaculis. Nulla congue, ligula vulputate interdum tempor, turpis lorem gravida magna, sit amet vehicula libero sem nec tortor. Pellentesque nisi diam, sollicitudin sit amet augue placerat, vehicula condimentum diam. Aliquam quis nulla felis. Fusce ac turpis nunc. Sed in ligula nec felis faucibus auctor ut id dui. Nunc placerat ac ligula nec consequat. Praesent dignissim mollis libero sed cursus. Praesent auctor elit blandit, sollicitudin velit quis, vestibulum risus. Maecenas in risus vel mi ullamcorper mattis in sit amet enim. Donec lacinia odio nunc, id ultrices diam interdum at. Maecenas sed magna ligula. Nunc mattis malesuada ligula, a dictum velit. Aliquam sit amet aliquet eros, id vulputate orci. Phasellus consectetur venenatis tempus. Donec at tortor tellus.