$def with (courses)
$var title: My profile

$# Left column content
$def leftColF():
    <h3>Stats</h3>
    <h3>Last submissions</h3>
$var leftCol: $:leftColF()

$# Start content
<h2>Course list</h2>
<div class="list-group">
    $for courseId in courses
        <a href="course/$courseId" class="list-group-item">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 35%">
                    35%
                </div>
            </div>
            $courses[courseId]['name']
        </a>
</div>