$def with (task)
$var title: $:task.getName() - $:task.getCourse().getName()

$# Left column content
$def leftColF():
    <h3>Informations</h3>
    
    <h3>Last submissions</h3>
$var leftCol: $:leftColF()

$# Start content
<ol class="breadcrumb">
  <li><a href="/index">Home</a></li>
  <li><a href="/course/$task.getCourse().getId()">$task.getCourse().getName()</a></li>
  <li class="active">$task.getName()</li>
</ol>
<h2>$task.getName()</h2>
$:task.getContext()
<hr/>
<div id="task_alert"></div>
<form id="task" method="post" action="/course/${task.getCourse().getId()}/${task.getId()}">
    <input type="hidden" name="@action" value="submit"/>
    $for key, problem in enumerate(task.getProblems()):
        <h3>Question ${key+1}: $problem.getName()</h3>
        <div id="task_alert.$problem.getId()" class="task_alert_problem"></div>
        $:problem.getHeader()
        $:problem.showInput()
    <button type="submit" class="btn btn-default btn-lg btn-block center-block">Submit</button>
</form>