{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% set weight = course.get_task_dispenser().get_weight(taskid) %}

{% if short %}
{{ _("Grade weight (in comparison to other tasks)") }} : <span>{{ weight }}</span>
{% else %}
<div class="mt-3">{{ _("Grade weight (in comparison to other tasks)") }}</div>
<input type="number" class="weight form-control" {% if weight > 1 %} value='{{ weight }}' {% endif %} placeholder="1" name="{{taskid}}" />

<script>
    $("#edit_{{taskid}} input.weight").change(function () {
        $("#task_{{taskid}} .pills-weight span").text($(this).val());
    });
</script>
{% endif %}
