$def with (inputId,type,maxChars)
<input
    $if type == "text":
        type="text"
    $elif type == "integer":
        type="number"
        data-validation="number"
        data-validation-allowing="number"
    $elif type == "decimal":
        type="number"
        data-validation="number"
        data-validation-allowing="float"
    $elif type == "mail":
        type="email"
        data-validation="email"
    name="$inputId" 
    value=""
    class="monospace form-control form-inline"
    $if maxChars != 0:
        maxlength="$maxChars"
        style="width:${maxChars+1}em"
/>