{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{% for section in sections %}
    {% if section.is_empty() %}
        {% with id="section_" + section.get_id(), title=section.get_title(), config=section.get_config(), level=level, hidden=False, display_subsections=False %}
            {% include "course_admin/task_dispensers/empty_section.html" %}
        {% endwith %}
    {% elif section.is_terminal() %}
        {% include "course_admin/task_dispensers/task_list.html" %}
    {% else %}
        <div id="section_{{section.get_id()}}" class="section sections_list mb-4" data-level="{{level}}">
            <div class="section_header handle d-flex justify-content-between divided pr-3">
                <span class="title h{{level}} mr-3">
                    {{ section.get_title() }}
                </span>
                <span class="divider"></span>
                {% with tasks_list_option=False, sections_list_option=True %}
                    {% include "course_admin/task_dispensers/section_menu.html" %}
                {% endwith %}
            </div>
            {% if config_fields %}
                <div class="config card-body">
                    {% with section_config=section.get_config(), config_fields=config_fields %}
                       {% include "course_admin/task_dispensers/section_config.html" %}
                    {% endwith %}
                </div>
            {% endif %}
            <div class="content ml-4">
                {% with sections=section.get_sections_list(),level=level+1 %}
                    {% include "course_admin/task_dispensers/section.html" %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
{% endfor %}
