{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="ml-auto btn-group btn-group-sm" role="group">
    <a class="btn btn-success" href="{{get_homepath()}}/course/{{course.get_id()}}/{{taskid}}"
            title="{{ _('View task') }}" data-toggle="tooltip" data-placement="bottom">
        <i class="fa fa-eye"></i>
    </a>
    <a class="rename_task btn btn-info" href="{{get_homepath()}}/admin/{{course.get_id()}}/edit/task/{{taskid}}"
            title="{{ _('Edit task') }}" data-toggle="tooltip" data-placement="bottom">
        <i class="fa fa-pencil"></i>
    </a>
    <a class="rename_task btn btn-secondary" href="{{get_homepath()}}/admin/{{course.get_id()}}/submissions?tasks={{taskid}}"
            title="{{ _('View submissions') }}"  data-toggle="tooltip" data-placement="bottom">
        <i class="fa fa-file-code-o fa-fw"></i>
    </a>

    <button class="delete_task btn btn-warning" data-toggle="modal" data-target="#delete_task_modal" onclick="dispenser_util_open_delete_modal(this)"
            title="{{ _('Delete task') }}" data-toggle="tooltip" data-placement="bottom">
        <i class="fa fa-trash"></i>
    </button>
</div>
