{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

{# Prints a terminal section and the tasks it contains #}

<div id="section_{{ section.get_id() }}" class="section tasks_list card mb-4" data-level="{{level}}" >
    <div class="section_header handle card-header d-flex justify-content-between pr-3">
        <span class="title">
            {{ section.get_title() }}
        </span>
        <span style="display: none" class="divider"></span>
        {% with tasks_list_option=True, sections_list_option=False %}
            {% include "course_admin/task_dispensers/section_menu.html" %}
        {% endwith %}
    </div>
    {% if config_fields %}
        <div class="config card-body bg-light">
            {% with section_config=section.get_config(), config_fields=config_fields %}
               {% include "course_admin/task_dispensers/section_config.html" %}
            {% endwith %}
        </div>
    {% endif %}
    <div class="content list-group list-group-flush">
        {% for taskid in section.get_tasks() %}
            {% if taskid in tasks %}
                <div id="task_{{taskid}}" class="task handle list-group-item list-group-item-action d-flex">
                    <div class="task_name">
                        {{ tasks[taskid]["name"] }}
                    </div>
                    {% include "course_admin/task_dispensers/task_buttons.html" %}
                </div>
            {% else %}
                <div id="task_{{taskid}}" class="task handle list-group-item list-group-item-action d-flex bg-danger">
                    <div class="task_name">
                        {{ _("No valid task with id:") }} {{ taskid }}
                    </div>
                    <div class="ml-auto">
                        <button class="delete_task btn btn-sm btn-warning" onclick="dispenser_util_delete_task(this, false, this.closest('.task').id.to_taskid())"
                                title="{{ _('Delete invalid task') }}" style="font-size: 1em;" data-toggle="tooltip" data-placement="bottom">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>