$def with(course, course_structure, tasks, config_fields={})

$:include.course_admin.task_dispensers.util(course, tasks)

<div id="course_structure" data-level="2" class="sections_list pb-3">
    <div class="content">
        $:include.course_admin.task_dispensers.section(course, tasks, course_structure, 3, True, config_fields)
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-secondary btn-block" onclick="dispenser_util_create_section($$('#course_structure'))">
            <i class="fa fa-plus"></i> $:_("Add section")
        </button>
    </div>
</div>

<!-- Invisible element (for copy) -->
$:include.course_admin.task_dispensers.empty_section("empty_section", "New section",  {}, 0, True, True, config_fields)
