{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<div class="modal fade" id="edit_{{taskid}}" tabindex="-1" role="dialog" aria-labelledby="LabelModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{_("Edit task {}").format(taskid)}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-md-12">
            <!--Grade Weight-->
            <div class="mt-3">{{ _("Grade weight (in comparison to other tasks)") }}</div>
            <input type="text" class="weight form-control" {% if course.get_task_dispenser().get_weight(taskid) > 1 %} value='{{course.get_task_dispenser().get_weight(taskid)}}' {% endif %} placeholder="1" name="{{taskid}}" />

            <!--no_stored_submissions-->
            <div class="mt-3">{{_("Submission Storage")}}</div>
            <div class="no_stored_submissions">
                {% set no_stored_submissions = course.get_task_dispenser().get_no_stored_submissions(taskid) %}
                <label>
                    <input type="radio" value="store_all" class="no_stored_submissions" name="no_stored_submissions_{{taskid}}" id="{{taskid}}" {{ 'checked'|safe if no_stored_submissions == 0 }} />
                    {{_("All submissions")}}
                </label><br/>
                <div class="row">
                    <div>
                        <label class="col-xs-12 col-lg-12">
                            <input type="radio" value="store_not_all" class="no_stored_submissions" name="no_stored_submissions_{{taskid}}" id="{{taskid}}" {{ 'checked'|safe if no_stored_submissions > 0 }} />
                            {{ _("Only the last {nbr_submissions} submissions").format(nbr_submissions='</label></div><div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-3"><input name="no_stored_submissions" class="form-control input-xs" id="no_stored_submissions_value_' + (taskid) + '" style="height:20px;padding: 0 10px;" value="' + (no_stored_submissions|string if no_stored_submissions > 0 else '') + '" placeholder="5" type="number"></div><div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-3"><label>') | safe }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="mt-3">{{_("Evaluation Submission")}}</div>
            <div class="evaluation_submission">
                {% set evaluation_value = course.get_task_dispenser().get_evaluation_mode(taskid) %}
                <label>
                    <input type="radio" value="best" class="evaluation_submission" name="evaluation_submission_{{taskid}}" id="{{taskid}}" {{ 'checked'|safe if evaluation_value == "best" }} />
                    {{ _("Best submission") }}
                </label><br/>
                <div class="row">
                    <div>
                        <label class="col-xs-12 col-lg-12">
                            <input type="radio" value="last" class="evaluation_submission" name="evaluation_submission_{{taskid}}" id="{{taskid}}" {{ 'checked'|safe if evaluation_value == "last" }} />
                            {{ _("Last submission") }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="mt-3">{{_("Categories")}}</div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" class="form-control categories" id="{{taskid}}" placeholder="{{ _('Tag name, separated by commas') }}"
                           value="{{','.join(course.get_task_dispenser().get_categories(taskid))}}">
                </div>
            </div>

            <div class="mt-3">{{ _("Submission limits") }}</div>
            <div class="form-group">
                {% set submission_limit = course.get_task_dispenser().get_submission_limit(taskid) %}
                <label>
                    <input name="submission_limit_{{taskid}}" type="radio" value="none" class="submission_limit" id="{{taskid}}" {% if submission_limit == {'amount':-1, 'period':-1} %} checked="checked" {% endif %}/> {{ _("No limitation") }}
                </label><br/>
                <div class="row">
                    <div class="col-xs-12 col-lg-3">
                        <label>
                            <input name="submission_limit_{{taskid}}" type="radio" value="hard" class="submission_limit" id="{{taskid}}"
                                {{ 'checked="checked"'|safe if submission_limit["period"] == -1 and submission_limit['amount'] >= 0 }} />
                            {{ _("Hard limit: {nbr_submissions} submission(s)").format(nbr_submissions='</label></div><div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-2"><input class="form-control input-xs" id="submission_limit_hard_' + taskid + '" style="height:20px;padding: 0 10px;" value="' + (submission_limit['amount'] if submission_limit['period'] == -1 and submission_limit['amount'] >= 0 else '')|string + '" placeholder="5"  type="number"></div><div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-3"><label>') | safe }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-3">
                        <label>
                            <input name="submission_limit_{{taskid}}" type="radio" value="soft" class="submission_limit" id="{{taskid}}"
                                {{ 'checked="checked"'|safe if submission_limit['period'] >= 0 }} />
                            {{ _("Soft limit: {nbr_submissions} submission(s) every {nbr_hours} hour(s)").format(nbr_submissions='</label></div><div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-2"><input class="form-control input-xs" id="submission_limit_soft_0_' + taskid + '" style="height:20px;padding: 0 10px;" value="' + (submission_limit['amount'] if submission_limit['amount'] >= 0 and submission_limit['period'] > 0 else '')|string + '" placeholder="5" type="number"></div><div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-3"><label>', nbr_hours='</label></div><div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-2"><input class="form-control input-xs" id="submission_limit_soft_1_' + taskid + '" style="height:20px;padding: 0 10px;" value="' + (submission_limit['period'] if submission_limit['period'] > 0 else '')|string + '" placeholder="5" type="number"></div><div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-1"><label>') | safe }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="mt-3">{{_("Submission mode")}}</div>
            {% set group_submission = course.get_task_dispenser().get_group_submission(taskid) %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <label>
                        <input type="radio" value="false" name="group_submission_{{taskid}}" id="{{taskid}}" class="group_submission"
                            {{ 'checked="checked"'|safe if not group_submission }}/>
                        {{ _("Individually") }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>
                            <input type="radio" value="true" name="group_submission_{{taskid}}" id="{{taskid}}" class="group_submission"
                                {{ 'checked="checked"'|safe if group_submission }} />
                            {{_("Per group")}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="mt-3">{{_("Accessible")}}</div>
            <div class="form-group row">
                {% set at = course.get_task_dispenser().get_accessibility(taskid) %}
                <div class="col-md-12">
                    <label>
                        <input class="accessible" type="radio" value="false" name="accessible_{{taskid}}" id="{{taskid}}"
                            {{ 'checked="checked"'|safe if at.is_never_accessible() }} />
                        {{_("Never")}}
                    </label>
                </div>
                <div class="col-md-12">
                    <label>
                        <input class="accessible" type="radio" value="true" name="accessible_{{taskid}}" id="{{taskid}}"
                            {{ 'checked="checked"'|safe if at.is_always_accessible() }} />
                        {{_("Always")}}
                    </label>
                </div>
                <div class="col-md-12 row">
                    <div class="col-xs-12 col-lg-3">
                        <label class="control-label">
                            <input class="accessible" type="radio" value="custom" name="accessible_{{taskid}}" id="{{taskid}}"
                                {{'checked="checked"'|safe if not at.is_never_accessible() and not at.is_always_accessible() }} />
                            {%set text = _("Custom, from: {} to: {}").split("{}") %}
                            {{ text[0] }}</label>
                    </div>
                    <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
                        <div class='input-group date' id='accessible_start_picker' data-target-input="nearest">
                            <input data-target='#accessible_start_picker' id="accessible_start_{{taskid}}" data-date-format="YYYY-MM-DD HH:mm:ss" value="{{at.get_std_start_date()}}" placeholder="2014-06-29 10:00" type='text' class="form-control datetimepicker-input" />
                            <div class="input-group-append" data-target="#accessible_start_picker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-1"><label class="control-label">{{text[1]}}</label></div>
                    <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
                        <div class='input-group date' id='accessible_end_picker' data-target-input="nearest">
                            <input data-target='#accessible_end_picker' id="accessible_end_{{taskid}}" data-date-format="YYYY-MM-DD HH:mm:ss" value="{{at.get_std_end_date()}}" placeholder="2014-06-29 10:00" type='text' class="form-control datetimepicker-input" />
                            <div class="input-group-append" data-target="#accessible_end_picker" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row">
                    <!-- Padding -->
                    <div class="col-xs-12 col-lg-3"></div>
                    <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4"></div>
                    <!-- End of padding -->
                    <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-1"><label class="control-label" data-toggle="tooltip" data-placement="top" title="{{ _('Students can still submit after this date') }}">{{ _("Soft Deadline") }} <sup>?</sup></label></div>
                    <div class="col-xs-offset-1 col-lg-offset-0 col-xs-11 col-lg-4">
                        <div class="form-group">
                            <div class='input-group date' id='accessible_soft_end_picker' data-target-input="nearest">
                                    <input data-target='#accessible_soft_end_picker' id="accessible_soft_end_{{taskid}}" data-date-format="YYYY-MM-DD HH:mm:ss" value="{{at.get_std_soft_end_date()}}" placeholder="2014-06-29 10:00" type='text' class="form-control datetimepicker-input" />
                                    <div class="input-group-append" data-target="#accessible_soft_end_picker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function() {
                        $('#accessible_start_picker').datetimepicker({locale: '{{user_manager.session_language()}}', sideBySide: true, format:'YYYY-MM-DD HH:mm:ss'});
                        $('#accessible_end_picker').datetimepicker({locale: '{{user_manager.session_language()}}', sideBySide: true, format:'YYYY-MM-DD HH:mm:ss'});
                        $('#accessible_soft_end_picker').datetimepicker({locale: '{{user_manager.session_language()}}', sideBySide: true, format:'YYYY-MM-DD HH:mm:ss'});
                    });
                </script>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _("Close") }}</button>
        </div>
        </div>
    </div>
</div>