{# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for #}
{# more information about the licensing of this file. #}

<style>
    /* remove ghost when dragging and change cursor for draggable element */
    .sortable-drag { opacity: 0; }
    .handle { cursor: move; }

    /* line for sections */
    .divided {
      display: flex;
      align-items: center;
    }
    .divider {
      flex-grow: 1;
      border-bottom: 1px solid lightgrey;
      margin: 5px
    }

    /* limit modal size */
    #modal_task_list {
        max-height: 400px;
        overflow: auto
    }

    /* only display option applicable to the type of section */
    .tasks_list_option, .sections_list_option { display: none; }
    .tasks_list >div>div>div> .tasks_list_option { display: block; }
    .sections_list >div>div>div> .sections_list_option { display: block; }
</style>

<script>
    $(function () {
        $(".tasks_list").each(function(){
            draggable_tasks[this.id] = dispenser_util_make_tasks_list_sortable($(this));
        });

        $(".sections_list").each(function(){
            draggable_sections[this.id] = dispenser_util_make_sections_list_sortable($(this));
        });
    });
</script>

{% with type="section" %}
    {% include "course_admin/task_dispensers/util_delete_modal.html" %}
{% endwith %}

{% with type="task" %}
    {% include "course_admin/task_dispensers/util_delete_modal.html" %}
{% endwith %}

{% with type="grouped_actions" %}
    {% include "course_admin/task_dispensers/util_delete_modal.html" %}
{% endwith %}

{% include "course_admin/task_dispensers/util_move_modal.html" %}

{% for taskid in tasks %}
    {% include "course_admin/task_dispensers/util_task_edit_modal.html" %}
{% endfor %}

<script>
    $('document').ready(function(){
        $(".categories").each(function(val){
            $(this).selectize({
                delimiter: ",",
                persist: false,
                create: function (input) {
                    return {
                    value: input,
                    text: input,
                    };
                },
            });

        });
    });
</script>

<div class="modal fade" id="addTaskModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ _("Add tasks") }}</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body list-group">
                <h4>{{ _("Create new task") }}</h4>
                <div class="form-group row">
                    <div class="col-sm-8"><input type="text" class="form-control" id="new_task_id" placeholder="{{ _('New task id') }}" /></div>
                    <div class="col-sm-4"><button id="add_new_task" onclick="dispenser_util_add_tasks_to_section(this)" class="btn btn-info btn-large btn-block" type="button" data-dismiss="modal">{{ _("Create new task") }}</button></div>
                </div>
                <h4>{{ _("Import from course filesystem") }}</h4>
                <input id="searchTask" class="form-control" type="text" placeholder="{{ _('Search...') }}" onkeyup="dispenser_util_search_task(this)">
                <p id="no_task_available" class="text-center align-middle font-weight-bold">
                    {{ _("No unassigned tasks in the filesystem of this course") }}
                </p>
                <br>
                <div id="modal_task_list">
                    {% for taskid in tasks %}
                    <div id= "modal_task_{{taskid}}" class="modal_task list-group-item list-group-item-action" onclick="dispenser_util_click_modal_task(this)">
                        <span class="task_name"> {{ tasks[taskid]["name"] }}</span> <br>
                        <input style="display: none" type="checkbox" name="task" value="{{taskid}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button id="add_existing_tasks" onclick="dispenser_util_add_tasks_to_section(this)" type="button" class="btn btn-success" data-dismiss="modal">{{_("Add")}}</button>
            </div>
        </div>

    </div>
</div>

<div id="all_tasks" style="display: none">
    {% for taskid in tasks %}
        <div id="task_{{ taskid }}_clone" class="task handle list-group-item list-group-item-action d-flex">
            <div class="task_name p-0">
                {{ tasks[taskid]["name"] }}
            </div>
            {% include "course_admin/task_dispensers/task_buttons.html" %}
        </div>
    {% endfor %}
    <div id="new_task_clone" class="task handle list-group-item list-group-item-action d-flex">
        <div class="task_name p-0">{{ _("New task with id: ") }}</div>
        <div class="ml-auto">
            <button class="delete_task btn btn-sm btn-warning" onclick="dispenser_util_delete_task(this, true, this.closest('.task').id.to_taskid())"
                    title="{{ _('Delete invalid task') }}" style="font-size: 1em;" data-toggle="tooltip" data-placement="bottom">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>

<ul class="nav nav-pills mb-3 small">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _("Grouped actions") }}</a>
        <div class="dropdown-menu">
            <a class="dropdown-item disabled" href="#" id="change-settings" data-toggle="modal" data-target="#grouped-actions-edit"><i class="fa fa-cogs"></i> {{ _("Change selection") }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#grouped_actions_move_modal"><i class="fa fa-arrow-right"></i> {{ _("Move to section...") }}</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_grouped_actions_modal"><i class="fa fa-trash"></i> {{ _("Delete") }}</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">{{ _("On setting: ") }}</a>
    </li>
    {% for config_item in course.get_task_dispenser().config_items %}
    <li class="nav-item">
        <a class="nav-link setting-filter" data-filter="{{ config_item.get_id() }}" href="#">{{ config_item.get_name() }}</a>
    </li>
    {% endfor %}
</ul>

<script>
    $(".setting-filter").click(function () {
        if($(this).hasClass("active")) {
            $("#change-settings").addClass("disabled");
            $(".setting-filter").removeClass("active");
            $(".pills").hide();
        } else {
            $(".setting-filter").removeClass("active");
            $("#change-settings").removeClass("disabled");
            $(this).addClass("active");
            $(".pills").hide();
            $(".pills-" + $(this).data("filter")).show();
        }
    });

    $(function() {
        $(".grouped-actions-section").change(function () {
            let id = $(this).data("section");
            let val = this.checked;
            $("#" + id + " .grouped-actions").each(function () {
                $(this).prop("checked", val);
            });
        });
    });
</script>

<div class="modal fade" id="grouped-actions-edit" tabindex="-1" role="dialog" aria-labelledby="LabelModel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ _("Edit selected tasks") }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="col-md-12 mb-3">
            {% for config_item in course.get_task_dispenser().config_items %}
                <div class="pills pills-{{ config_item.get_id() }}" style="display: none;">
                {% with taskid="" %}
                    {% include config_item.get_template() %}
                {% endwith %}
                </div>
            {% endfor %}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _("Close") }}</button>
        </div>
        </div>
    </div>
</div>